## Assamese

In [1]:
import os

In [2]:
os.listdir('datasets')

['Nepali.zip',
 'Kannada.zip',
 'Malayalam',
 'Bengali.zip',
 'Sanskrit.zip',
 'Multilang.tgz',
 'Kannada',
 'Punjabi.zip',
 'Punjabi',
 'Malayalam.zip',
 'Hindi',
 'Tamil',
 'Marathi.zip',
 'Urdu',
 'Gujarati.zip',
 'Tamil.zip',
 'Odia',
 'Bodo.zip',
 'English.zip',
 'Bodo',
 'Sindhi.zip',
 'Assamese.zip',
 'Urdu.zip',
 'Hindi.zip',
 'Sanskrit',
 'Gujarati',
 'Bengali',
 'Assamese',
 'Nepali',
 'Kashmiri.csv',
 'Odia.zip',
 'Telugu',
 'English',
 'Marathi',
 'Sindhi',
 'Multilang',
 'Telugu.zip']

In [3]:
for i in os.listdir('datasets/Assamese/'):
    print(i)

nenow_dataset.txt
news18_preprocessed.csv
nenow_preprocessed.csv
new18_dataset.txt

In [4]:
import re

In [5]:
def extract_assamese_text(text):
    # Regular expression pattern to match Assamese characters
    assamese_pattern = re.compile(r'[\u0980-\u09FF\s]+')
    # Find all matches of Assamese text in the input text
    assamese_matches = assamese_pattern.findall(text)
    # Filter out empty strings
    assamese_matches = [match.strip() for match in assamese_matches if match.strip()]
    # Join the matches to form the extracted Assamese text
    assamese_text = ' '.join(assamese_matches)
    return assamese_text

In [6]:
os.makedirs('final', exist_ok=True)

In [7]:
import pandas as pd
data = pd.read_csv("datasets/Assamese/nenow_preprocessed.csv")

In [8]:
data.head()

,S No.,summary,text
0,1,কাৰাবন্দীৰ পৰা গৃহবন্দী হৈ উভতিল আং ছান ছু কী,আং ছান ছু কীফাইল ফটোসংগ্ৰহীতকাৰাগাৰৰ সূত্ৰই জন...
1,2,চীন কোৰিয়া ইণ্ডোনেছিয়াৰ পৰা আমদানি কৰা অপটিক...,ফটোসংগ্ৰহীতসস্তীয়া আমদানিৰ পৰা ঘৰুৱা উদ্যোগক ...
2,3,গ্ৰেপ্তাৰ হল ইমৰান খানদুৰ্নীতিৰ গোচৰত তিনিবছৰৰ...,বিপদে লগ নেৰা হৈছে পাকিস্তানৰ প্ৰাক্তন প্ৰধানম...
3,4,এইবাৰ পাকিস্তানৰ যুৱকৰ সৈতে বিয়াত বহিল দুই সন...,শচীনসীমা বিবাহ কাণ্ডই বিগত কিছুদিন ধৰি দুই চুব...
4,5,নিষেধাজ্ঞা নেওচি ভাৰতলৈ নেপালৰ বিলাহীঘোচ লৈ চা...,ভাৰতত আকাশলংঘী হৈছে বিলাহীৰ দামবিলাহীৰ এই অকল্...

In [9]:
data['cleaned'] = data['text'].apply(extract_assamese_text)

In [10]:
data.head()

,S No.,summary,text,cleaned
0,1,কাৰাবন্দীৰ পৰা গৃহবন্দী হৈ উভতিল আং ছান ছু কী,আং ছান ছু কীফাইল ফটোসংগ্ৰহীতকাৰাগাৰৰ সূত্ৰই জন...,আং ছান ছু কীফাইল ফটোসংগ্ৰহীতকাৰাগাৰৰ সূত্ৰই জন...
1,2,চীন কোৰিয়া ইণ্ডোনেছিয়াৰ পৰা আমদানি কৰা অপটিক...,ফটোসংগ্ৰহীতসস্তীয়া আমদানিৰ পৰা ঘৰুৱা উদ্যোগক ...,ফটোসংগ্ৰহীতসস্তীয়া আমদানিৰ পৰা ঘৰুৱা উদ্যোগক ...
2,3,গ্ৰেপ্তাৰ হল ইমৰান খানদুৰ্নীতিৰ গোচৰত তিনিবছৰৰ...,বিপদে লগ নেৰা হৈছে পাকিস্তানৰ প্ৰাক্তন প্ৰধানম...,বিপদে লগ নেৰা হৈছে পাকিস্তানৰ প্ৰাক্তন প্ৰধানম...
3,4,এইবাৰ পাকিস্তানৰ যুৱকৰ সৈতে বিয়াত বহিল দুই সন...,শচীনসীমা বিবাহ কাণ্ডই বিগত কিছুদিন ধৰি দুই চুব...,শচীনসীমা বিবাহ কাণ্ডই বিগত কিছুদিন ধৰি দুই চুব...
4,5,নিষেধাজ্ঞা নেওচি ভাৰতলৈ নেপালৰ বিলাহীঘোচ লৈ চা...,ভাৰতত আকাশলংঘী হৈছে বিলাহীৰ দামবিলাহীৰ এই অকল্...,ভাৰতত আকাশলংঘী হৈছে বিলাহীৰ দামবিলাহীৰ এই অকল্...

In [11]:
data['cleaned'][99]

'লকডাউনৰ বিৰুদ্ধে চীনত আজিও অব্যাহত আছে প্ৰতিবাদপ্ৰতিবাদ নিৰ্মূল কৰিবলৈ চীনৰ চৰকাৰে বিশ্ববিদ্যালয়ৰ শিক্ষাৰ্থীসকলক ঘৰলৈ যাবলৈ নিৰ্দেশ দিছেইপিনে চীনৰ এনে পৰিস্থিতিৰ বাতৰি সংগ্ৰহ কৰিবলৈ যোৱা বিবিচিৰ এজন সাংবাদিকক আজি চীনা সেনাই অকথ্য নিৰ্যাতন চলাই গ্ৰেপ্তাৰ কৰাৰ ঘটনাই সমগ্ৰ বিশ্বতে প্ৰতিক্ৰিয়াৰ সৃষ্টি কৰিছেউল্লেখ্য কোভিড সংক্ৰমণৰ বাবেই চীনৰ বিভিন্ন প্ৰান্তত কঠোৰ লকডাউন ঘোষণা কৰা হৈছেমানুহ গৃহবন্দী হৈ থাকিবলগীয়া হোৱাত অতিষ্ঠ হৈ পৰিছেএনে পৰিস্থিতিত মানুহ উত্তেজিত হৈ পৰিছে আৰু চৰকাৰৰ বিৰুদ্ধে প্ৰতিবাদ কৰিবলৈ ৰাজপথলৈ ওলাই আহিছেচৰকাৰৰ কোভিড নীতিৰ বিৰুদ্ধে প্ৰতিবাদ কৰিবলৈ বেইজিং আৰু ছাংহাইত হাজাৰ হাজাৰ মাউহে ৰাজপথলৈ ওলাই আহিছেআজিও আন্দোলন চলিয়েই আছেআৰক্ষীপ্ৰশাসনে প্ৰতিবাদকাৰীৰ বিৰুদ্ধে কঠোৰ ব্যৱস্থা গ্ৰহণ কৰিছেঝি জিনপিং চৰকাৰে কৰোনা ভাইৰাছৰ বিৰুদ্ধে দি থকা যুঁজত কোভিডমুক্ত নীতি গ্ৰহণ কৰিছেসেয়ে গ্ৰহণ কৰা হৈছে অধিক কঠোৰ পদক্ষেপচৰকাৰৰ কঠোৰ কোভিড নিয়মৰ বিৰুদ্ধে জনতাৰ প্ৰতিবাদ সমগ্ৰ দেশতে বিয়পি পৰিছেচৰকাৰৰ বিৰুদ্ধে এনে স্বতঃস্ফূৰ্ত গণ আন্দোলন চীনত বিৰল বুলি কব পাৰিআনকি কোভিডৰ প্ৰথম সংক্ৰমণৰ সময়তো তেনে হোৱা নাছিল নৰ্থইষ্ট নাও এটা মাল্টিএপ ভিত্তিক সম্পূৰ্ণভাৱে আঞ্চলিক দ্বিভাষিক নিউজ প্টেলপেচাদাৰী ব্যক্তিৰ এটা গোটৰ নেতৃত্বত এই ডিজিটেল অসমীয়া বাতৰি প্ৰতিষ্ঠানটোৱে উত্তৰপূবৰ আঠখন ৰাজ্য আৰু এইবোৰৰ প্ৰতিৱেশী দেশকেইখনৰ প্ৰতিটো খাখবৰ সামৰি লোৱাৰ চেষ্টা কৰিবদুটাকৈ ইংৰাজী এপ আৰু এটা অসমীয়া এপৰ সংস্কৰণ থকা এইটোৱে হল এই ধৰণৰ প্ৰথমটো নিউজ প্টেলআমি ৰাজনৈতিকভাৱে নিৰপেক্ষ আৰু দক্ষিণপূব আৰু দক্ষিণ এছিয়াৰ মাজৰ প্ৰকৃত বাবাতৰিৰ সাঁকোৰ ভূমিকা লবলৈ চেষ্টা কৰিম'

In [12]:
for i in data.head(1).iterrows():
    print(i[0], i[1][2])

0 আং ছান ছু কীফাইল ফটোসংগ্ৰহীতকাৰাগাৰৰ সূত্ৰই জনোৱা মতে সোমবাৰে কাৰাগাৰৰ পৰা ৰাজধানী নেইপিড চৰকাৰী বাসগৃহলৈ স্থানান্তৰ কৰা হয় ছ্যু কীকলগতে পঢ়কআই এন এছ বিক্ৰান্তত যুৱ নৌসেনা জোৱানৰ মৃতদেহ উদ্ধাৰ ৰহস্যময় মৃত্যুক লৈ চাঞ্চল্য কাৰাগাৰৰ পৰা বদলি হোৱাৰ কথা আনুষ্ঠানিকভাৱে নিশ্চিত কৰা হোৱা নাইঅৱশ্যে গৃহবন্দী কৰাৰ বিষয়টো সামৰিক কৰ্তৃপক্ষৰ এক ইতিবাচক পদক্ষেপো হব পাৰেছ্যু কীক অসুস্থ বুলি বাতৰি প্ৰচাৰ হৈছিলঅৱশ্যে সেনাই এই কথা অস্বীকাৰ কৰিছেচলিত সপ্তাহৰ আৰম্ভণিতে কাৰাগাৰৰ সূত্ৰই প্ৰকাশ কৰা অনুসৰি ছু কীৰ স্বাস্থ্য ভালেই আছেলগতে পঢ়কমাজভাগতে শিক্ষা এৰিছে কেন্দ্ৰীয় বিশ্ববিদ্যালয়ৰ ২৫ হাজাৰ ৫৯৩ জন ছাত্ৰছাত্ৰীয়ে থাইলেণ্ডৰ বৈদেশিক মন্ত্ৰীয়ে চলিত মাহত কাৰাগাৰত থকা ছু কীৰ ওচৰলৈ গৈছিলঅৱশ্যে তেওঁ আৰু কোনো সবিশেষ তথ্য প্ৰকাশ কৰা নাই নৰ্থইষ্ট নাও এটা মাল্টিএপ ভিত্তিক সম্পূৰ্ণভাৱে আঞ্চলিক দ্বিভাষিক নিউজ প্টেলপেচাদাৰী ব্যক্তিৰ এটা গোটৰ নেতৃত্বত এই ডিজিটেল অসমীয়া বাতৰি প্ৰতিষ্ঠানটোৱে উত্তৰপূবৰ আঠখন ৰাজ্য আৰু এইবোৰৰ প্ৰতিৱেশী দেশকেইখনৰ প্ৰতিটো খাখবৰ সামৰি লোৱাৰ চেষ্টা কৰিবদুটাকৈ ইংৰাজী এপ আৰু এটা অসমীয়া এপৰ সংস্কৰণ থকা এইটোৱে হল এই ধৰণৰ প্ৰথমটো নিউজ প্টেলআমি ৰাজনৈতিকভাৱে নিৰপেক্ষ আৰু দক্ষিণপূব আৰু দক্ষিণ এছিয়াৰ মাজৰ প্ৰকৃত বাবাতৰিৰ সাঁকোৰ ভূমিকা লবলৈ চেষ্টা কৰিম

/tmp/ipykernel_6949/900385898.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(i[0], i[1][2])

In [13]:
w = data[['cleaned']]

In [14]:
w.head()

                                             cleaned
0  আং ছান ছু কীফাইল ফটোসংগ্ৰহীতকাৰাগাৰৰ সূত্ৰই জন...
1  ফটোসংগ্ৰহীতসস্তীয়া আমদানিৰ পৰা ঘৰুৱা উদ্যোগক ...
2  বিপদে লগ নেৰা হৈছে পাকিস্তানৰ প্ৰাক্তন প্ৰধানম...
3  শচীনসীমা বিবাহ কাণ্ডই বিগত কিছুদিন ধৰি দুই চুব...
4  ভাৰতত আকাশলংঘী হৈছে বিলাহীৰ দামবিলাহীৰ এই অকল্...

In [15]:
data = pd.read_csv("datasets/Assamese/news18_preprocessed.csv")

In [16]:
data.head()

,S No.,summary,text
0,1,জিলা আয়ুক্তৰ বাসভৱনৰ কাষতে মহিলাৰ পৰা থপিয়াই...,নিৰাপত্তাহীনতাত ভুগিছে যোৰহাট নগৰবাসীয়েযোৰহাট...
1,2,পুনৰ জালুকবাৰীৰ নতুন শৰাইঘাট দলঙত অঘটন,পুনৰ জালুকবাৰীৰ নতুন শৰাইঘাট দলঙত অঘটনদলঙৰ মাজ...
2,3,দিহানামেৰে বিশ্ব অভিলেখৰ প্ৰস্তুতি কিন্তু আৰম্...,বাপতিসাহোন বিহুৰ পিছত এইবাৰ দিহানাম পৰিৱেশনেৰে...
3,4,আন্তঃৰাষ্ট্ৰীয় গণিত অলিম্পিয়াডত ছয়টা বিষয়ত...,নতুন দিল্লীৰ চিলভাৰ জন অলিম্পিয়াডৰ উদ্যোগত অন...
4,5,দিল্লীতে কিয় কেবিনেট ছিংগাপুৰলণ্ডনম্যানমাৰতো প...,বুধবাৰে সন্ধিয়া পাঁচ বজাত নতুন দিল্লীত অনুষ্ঠি...

In [17]:
data['cleaned'] = data['text'].apply(extract_assamese_text)

In [18]:
data.head()

,S No.,summary,text,cleaned
0,1,জিলা আয়ুক্তৰ বাসভৱনৰ কাষতে মহিলাৰ পৰা থপিয়াই...,নিৰাপত্তাহীনতাত ভুগিছে যোৰহাট নগৰবাসীয়েযোৰহাট...,নিৰাপত্তাহীনতাত ভুগিছে যোৰহাট নগৰবাসীয়েযোৰহাট...
1,2,পুনৰ জালুকবাৰীৰ নতুন শৰাইঘাট দলঙত অঘটন,পুনৰ জালুকবাৰীৰ নতুন শৰাইঘাট দলঙত অঘটনদলঙৰ মাজ...,পুনৰ জালুকবাৰীৰ নতুন শৰাইঘাট দলঙত অঘটনদলঙৰ মাজ...
2,3,দিহানামেৰে বিশ্ব অভিলেখৰ প্ৰস্তুতি কিন্তু আৰম্...,বাপতিসাহোন বিহুৰ পিছত এইবাৰ দিহানাম পৰিৱেশনেৰে...,বাপতিসাহোন বিহুৰ পিছত এইবাৰ দিহানাম পৰিৱেশনেৰে...
3,4,আন্তঃৰাষ্ট্ৰীয় গণিত অলিম্পিয়াডত ছয়টা বিষয়ত...,নতুন দিল্লীৰ চিলভাৰ জন অলিম্পিয়াডৰ উদ্যোগত অন...,নতুন দিল্লীৰ চিলভাৰ জন অলিম্পিয়াডৰ উদ্যোগত অন...
4,5,দিল্লীতে কিয় কেবিনেট ছিংগাপুৰলণ্ডনম্যানমাৰতো প...,বুধবাৰে সন্ধিয়া পাঁচ বজাত নতুন দিল্লীত অনুষ্ঠি...,বুধবাৰে সন্ধিয়া পাঁচ বজাত নতুন দিল্লীত অনুষ্ঠি...

In [19]:
s = data[['cleaned']]

In [20]:
s.head()

                                             cleaned
0  নিৰাপত্তাহীনতাত ভুগিছে যোৰহাট নগৰবাসীয়েযোৰহাট...
1  পুনৰ জালুকবাৰীৰ নতুন শৰাইঘাট দলঙত অঘটনদলঙৰ মাজ...
2  বাপতিসাহোন বিহুৰ পিছত এইবাৰ দিহানাম পৰিৱেশনেৰে...
3  নতুন দিল্লীৰ চিলভাৰ জন অলিম্পিয়াডৰ উদ্যোগত অন...
4  বুধবাৰে সন্ধিয়া পাঁচ বজাত নতুন দিল্লীত অনুষ্ঠি...

In [21]:
final = pd.concat([w, s])

In [22]:
final.head()

                                             cleaned
0  আং ছান ছু কীফাইল ফটোসংগ্ৰহীতকাৰাগাৰৰ সূত্ৰই জন...
1  ফটোসংগ্ৰহীতসস্তীয়া আমদানিৰ পৰা ঘৰুৱা উদ্যোগক ...
2  বিপদে লগ নেৰা হৈছে পাকিস্তানৰ প্ৰাক্তন প্ৰধানম...
3  শচীনসীমা বিবাহ কাণ্ডই বিগত কিছুদিন ধৰি দুই চুব...
4  ভাৰতত আকাশলংঘী হৈছে বিলাহীৰ দামবিলাহীৰ এই অকল্...

In [23]:
final.to_csv('final/Assamese.csv', index=False, encoding='utf-8')

## Bengali

In [24]:
with open('datasets/Bengali/prothom-alo_punctuation_balanced.txt') as f:
    lines = f.readlines()

In [25]:
data = pd.DataFrame(lines, columns=['text'])

In [26]:
data.head()

                                                text
0  এই মুহূর্তে এই ধ্বনিতেই উচ্চকিত ফুটবল বিশ্ব। এ...
1  তিনি বলেন, ‘যারা সেনাবাহিনীর বিরুদ্ধে অপপ্রচার...
2  প্রায় ৪৫ গজ দূর থেকে নেওয়া শটে করেছেন লক্ষ্য...
3  রূপকথার গল্প তো মানুষ এমনিতেই বেশি পছন্দ করে! ...
4  তাহলে প্রকাশিত হওয়ার পর ওই নিবন্ধনের সমর্থনে ...

In [27]:
def extract_bengali_text(text):
    # Regular expression pattern to match Bengali characters
    bengali_pattern = re.compile(r'[\u0980-\u09FF\s]+')
    # Find all matches of Bengali text in the input text
    bengali_matches = bengali_pattern.findall(text)
    # Filter out empty strings
    bengali_matches = [match.strip() for match in bengali_matches if match.strip()]
    # Join the matches to form the extracted Bengali text
    bengali_text = ' '.join(bengali_matches)
    return bengali_text

In [28]:
data['cleaned'] = data['text'].apply(extract_bengali_text)

In [29]:
data.head()

,text,cleaned
0,এই মুহূর্তে এই ধ্বনিতেই উচ্চকিত ফুটবল বিশ্ব। এ...,এই মুহূর্তে এই ধ্বনিতেই উচ্চকিত ফুটবল বিশ্ব এক...
1,"তিনি বলেন, ‘যারা সেনাবাহিনীর বিরুদ্ধে অপপ্রচার...",তিনি বলেন যারা সেনাবাহিনীর বিরুদ্ধে অপপ্রচার চ...
2,প্রায় ৪৫ গজ দূর থেকে নেওয়া শটে করেছেন লক্ষ্য...,প্রায় ৪৫ গজ দূর থেকে নেওয়া শটে করেছেন লক্ষ্য...
3,রূপকথার গল্প তো মানুষ এমনিতেই বেশি পছন্দ করে! ...,রূপকথার গল্প তো মানুষ এমনিতেই বেশি পছন্দ করে স...
4,তাহলে প্রকাশিত হওয়ার পর ওই নিবন্ধনের সমর্থনে ...,তাহলে প্রকাশিত হওয়ার পর ওই নিবন্ধনের সমর্থনে ...

In [30]:
data['text'][0]

'এই মুহূর্তে এই ধ্বনিতেই উচ্চকিত ফুটবল বিশ্ব। এক আসর থেকে আর কি-ই বা চাওয়া থাকতে পারে ২১ বছর বয়সী স্ট্রাইকারের! কথাটা নিজের মুখেই বলেছেন নেইমার।\n'

In [31]:
data['cleaned'][0]

'এই মুহূর্তে এই ধ্বনিতেই উচ্চকিত ফুটবল বিশ্ব এক আসর থেকে আর কি ই বা চাওয়া থাকতে পারে ২১ বছর বয়সী স্ট্রাইকারের কথাটা নিজের মুখেই বলেছেন নেইমার'

In [32]:
data['cleaned'].duplicated().sum()

16146

In [33]:
data.shape

(99127, 2)

In [34]:
data['text'].duplicated().sum()

15292

In [35]:
data.drop_duplicates(subset='cleaned', inplace=True)

In [36]:
data.shape

(82981, 2)

In [37]:
data.head()

,text,cleaned
0,এই মুহূর্তে এই ধ্বনিতেই উচ্চকিত ফুটবল বিশ্ব। এ...,এই মুহূর্তে এই ধ্বনিতেই উচ্চকিত ফুটবল বিশ্ব এক...
1,"তিনি বলেন, ‘যারা সেনাবাহিনীর বিরুদ্ধে অপপ্রচার...",তিনি বলেন যারা সেনাবাহিনীর বিরুদ্ধে অপপ্রচার চ...
2,প্রায় ৪৫ গজ দূর থেকে নেওয়া শটে করেছেন লক্ষ্য...,প্রায় ৪৫ গজ দূর থেকে নেওয়া শটে করেছেন লক্ষ্য...
3,রূপকথার গল্প তো মানুষ এমনিতেই বেশি পছন্দ করে! ...,রূপকথার গল্প তো মানুষ এমনিতেই বেশি পছন্দ করে স...
4,তাহলে প্রকাশিত হওয়ার পর ওই নিবন্ধনের সমর্থনে ...,তাহলে প্রকাশিত হওয়ার পর ওই নিবন্ধনের সমর্থনে ...

In [38]:
data = data[['cleaned']]

In [39]:
data.head()

                                             cleaned
0  এই মুহূর্তে এই ধ্বনিতেই উচ্চকিত ফুটবল বিশ্ব এক...
1  তিনি বলেন যারা সেনাবাহিনীর বিরুদ্ধে অপপ্রচার চ...
2  প্রায় ৪৫ গজ দূর থেকে নেওয়া শটে করেছেন লক্ষ্য...
3  রূপকথার গল্প তো মানুষ এমনিতেই বেশি পছন্দ করে স...
4  তাহলে প্রকাশিত হওয়ার পর ওই নিবন্ধনের সমর্থনে ...

In [40]:
final.to_csv('final/Bengali.csv', index=False, encoding='utf-8')

## Bodo

In [41]:
!pip install openpyxl

Requirement already satisfied: openpyxl in ./language_detection/lib/python3.11/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in ./language_detection/lib/python3.11/site-packages (from openpyxl) (1.1.0)

In [42]:
df1 = pd.read_excel('datasets/Bodo/1.xlsx')

In [43]:
df1.head()

,bodo_sent,eng_sent
0,अन्नानै आंंनो दिनैनि अक्टखौ खिन्था,please let me know today's date
1,बे ओनसोलनि फैगौ इभेन्टफोरखौ आंनो खोन्था।,show me upcoming events in this area
2,दानि थाखाय टेक्सि बुक खालाम।,book taxi for now
3,लेक्समार्कनि स्टक बेसेना बेसेबां?,what is the stock price for lexmark
4,अन्नानै गिबि फारिलाइखौ बोखार,please remove the first list

In [44]:
df1 = df1[['bodo_sent']]

In [45]:
df1.head()

                                  bodo_sent
0        अन्नानै आंंनो दिनैनि अक्टखौ खिन्था
1  बे ओनसोलनि फैगौ इभेन्टफोरखौ आंनो खोन्था।
2              दानि थाखाय टेक्सि बुक खालाम।
3         लेक्समार्कनि स्टक बेसेना बेसेबां?
4              अन्नानै गिबि फारिलाइखौ बोखार

In [46]:
df1.rename(columns={
    'bodo_sent': 'text'
}, inplace=True)

In [47]:
df1.head()

                                       text
0        अन्नानै आंंनो दिनैनि अक्टखौ खिन्था
1  बे ओनसोलनि फैगौ इभेन्टफोरखौ आंनो खोन्था।
2              दानि थाखाय टेक्सि बुक खालाम।
3         लेक्समार्कनि स्टक बेसेना बेसेबां?
4              अन्नानै गिबि फारिलाइखौ बोखार

In [48]:
with open('datasets/Bodo/1bodo.txt') as f:
    lines = f.readlines()

In [49]:
df2 = pd.DataFrame(lines, columns=['text'])

In [50]:
df2.head()

                                         text
0        अन्नानै आंंनो दिनैनि अक्टखौ खिन्था\n
1  बे ओनसोलनि फैगौ इभेन्टफोरखौ आंनो खोन्था।\n
2              दानि थाखाय टेक्सि बुक खालाम।\n
3         लेक्समार्कनि स्टक बेसेना बेसेबां?\n
4              अन्नानै गिबि फारिलाइखौ बोखार\n

In [51]:
df3 = pd.read_excel('datasets/Bodo/2.xlsx')

In [52]:
df3.head()

,bodo_sent,eng_sent
0,पंजाब में समाज कल्याण विभाग के बाल अधिकार प्रक...,"In Punjab, the Child Rights Cell of the Depart..."
1,बावैसो बोसोरफोराव खमलायनायनि बे रोखोमा गुबुन ह...,In recent years this style of wrestling has al...
2,"बायदिरोखोमनि जाठिआव तिसरा, चथुसरा, खंडा, मिश्र...","The different jathis are tisra, chathusra, kha..."
3,सान्नाय खामानियाव मोनसे टेप एबा आखाइ खबनाय थाय...,The action for counting includes a tap or clap...
4,"बेखौ खालामनायाव मोनसे टेप एबा आखाइ खबनाय थायो,...","Its action includes a tap or clap, followed by..."

In [53]:
df3 = df3[['bodo_sent']]

In [54]:
df3.head()

                                           bodo_sent
0  पंजाब में समाज कल्याण विभाग के बाल अधिकार प्रक...
1  बावैसो बोसोरफोराव खमलायनायनि बे रोखोमा गुबुन ह...
2  बायदिरोखोमनि जाठिआव तिसरा, चथुसरा, खंडा, मिश्र...
3  सान्नाय खामानियाव मोनसे टेप एबा आखाइ खबनाय थाय...
4  बेखौ खालामनायाव मोनसे टेप एबा आखाइ खबनाय थायो,...

In [55]:
df3.rename(columns={
    'bodo_sent': 'text'
}, inplace=True)

In [56]:
df3.head()

                                                text
0  पंजाब में समाज कल्याण विभाग के बाल अधिकार प्रक...
1  बावैसो बोसोरफोराव खमलायनायनि बे रोखोमा गुबुन ह...
2  बायदिरोखोमनि जाठिआव तिसरा, चथुसरा, खंडा, मिश्र...
3  सान्नाय खामानियाव मोनसे टेप एबा आखाइ खबनाय थाय...
4  बेखौ खालामनायाव मोनसे टेप एबा आखाइ खबनाय थायो,...

In [57]:
with open('datasets/Bodo/2bodo.txt') as f:
    lines = f.readlines()

In [58]:
df4 = pd.DataFrame(lines, columns=['text'])

In [59]:
df4.head()

                                                text
0  पंजाब में समाज कल्याण विभाग के बाल अधिकार प्रक...
1  बावैसो बोसोरफोराव खमलायनायनि बे रोखोमा गुबुन ह...
2  बायदिरोखोमनि जाठिआव तिसरा, चथुसरा, खंडा, मिश्र...
3  सान्नाय खामानियाव मोनसे टेप एबा आखाइ खबनाय थाय...
4  बेखौ खालामनायाव मोनसे टेप एबा आखाइ खबनाय थायो,...

In [60]:
df5 = pd.read_excel('datasets/Bodo/3.xlsx')

In [61]:
df5.head()

,bodo_sent,eng_sent
0,KTouch खौ खेव।,Open KTouch.
1,tail hyphen f forward slash var slash log slas...,tail hyphen f forward slash var slash log slas...
2,दानिया input नि थुंगेनायखौ दिन्थिनो Enter key ...,Now press Enter key to indicate the end of input.
3,Manage Search Engines मेनेज सार्स इन्जिनस) आव ...,Click on “Manage Search Engines”.
4,आस्थाम आसिखौ ‘S’ हांखोनि सायाव दोन।,The 'Student Line' has become red.

In [62]:
df5 = df5[['bodo_sent']]

In [63]:
df5.head()

                                           bodo_sent
0                                     KTouch खौ खेव।
1  tail hyphen f forward slash var slash log slas...
2  दानिया input नि थुंगेनायखौ दिन्थिनो Enter key ...
3  Manage Search Engines मेनेज सार्स इन्जिनस) आव ...
4                आस्थाम आसिखौ ‘S’ हांखोनि सायाव दोन।

In [64]:
df5.rename(columns={
    'bodo_sent': 'text'
}, inplace=True)

In [65]:
df5.head()

                                                text
0                                     KTouch खौ खेव।
1  tail hyphen f forward slash var slash log slas...
2  दानिया input नि थुंगेनायखौ दिन्थिनो Enter key ...
3  Manage Search Engines मेनेज सार्स इन्जिनस) आव ...
4                आस्थाम आसिखौ ‘S’ हांखोनि सायाव दोन।

In [66]:
with open('datasets/Bodo/3bodo.txt') as f:
    lines = f.readlines()

In [67]:
df6 = pd.DataFrame(lines, columns=['text'])

In [68]:
df6.head()

                                                text
0                                   KTouch खौ खेव।\n
1  tail hyphen f forward slash var slash log slas...
2  दानिया input नि थुंगेनायखौ दिन्थिनो Enter key ...
3  Manage Search Engines मेनेज सार्स इन्जिनस) आव ...
4              आस्थाम आसिखौ ‘S’ हांखोनि सायाव दोन।\n

In [69]:
df7 = pd.read_excel('datasets/Bodo/4.xlsx')

In [70]:
df7.head()

,bodo_sent,eng_sent
0,मा जाखो?,What happened?
1,बा बाथ्रा?,What’s the matter?
2,खोलानि काश्मीरा मुन्नार ।,Munnar the Kashmir of the South .
3,"हाजो , बिलो , हाग्रा , साहा बागान , मसलाफोरनि ...",Surrounded from all four sides with an abundan...
4,ओरैबादि मोनदाङो दि मुन्नारनि समायनाखौ मिथिंगाय...,It appears that Nature also has maintained gre...

In [71]:
df7 = df7[['bodo_sent']]

In [72]:
df7.head()

                                           bodo_sent
0                                           मा जाखो?
1                                         बा बाथ्रा?
2                          खोलानि काश्मीरा मुन्नार ।
3  हाजो , बिलो , हाग्रा , साहा बागान , मसलाफोरनि ...
4  ओरैबादि मोनदाङो दि मुन्नारनि समायनाखौ मिथिंगाय...

In [73]:
df7.rename(columns={
    "bodo_sent": "text"
}, inplace=True)

In [74]:
df7.head()

                                                text
0                                           मा जाखो?
1                                         बा बाथ्रा?
2                          खोलानि काश्मीरा मुन्नार ।
3  हाजो , बिलो , हाग्रा , साहा बागान , मसलाफोरनि ...
4  ओरैबादि मोनदाङो दि मुन्नारनि समायनाखौ मिथिंगाय...

In [75]:
with open('datasets/Bodo/4bodo.txt') as f:
    lines = f.readlines()

In [76]:
df8 = pd.DataFrame(lines, columns=['text'])

In [77]:
df8.head()

                                                text
0                                         मा जाखो?\n
1                                       बा बाथ्रा?\n
2                        खोलानि काश्मीरा मुन्नार ।\n
3  हाजो , बिलो , हाग्रा , साहा बागान , मसलाफोरनि ...
4  ओरैबादि मोनदाङो दि मुन्नारनि समायनाखौ मिथिंगाय...

In [78]:
df9 = pd.read_excel('datasets/Bodo/5.xlsx')

In [79]:
df9.head()

,bodo_sent,eng_sent
0,दि ग्रेन्टा केनियन स्टेट एबा कपार स्टेट एरिजना...,"The Grand Canyon State or Copper State, Arizon..."
1,हां-लानाय हगारनाय सावस्रिनि जेंना थानाय एबा दा...,"Arizonaâ€™s clean, clear, dry air and warm wea..."
2,थांनाय थामजि बोसोराव हादरसानि सुबुं अनजिमाया थ...,The stateâ€™s population has tripled in the la...
3,आथिखालाव मोनथाम एरिजनानसनि मादाव मोनसेया बुमिं...,"Today, one out of three Arizonans live in boom..."
4,हादरारि पार्क आरो गोजाम नेर्सोनफोरनि मादाव एरि...,National Parks & Monuments in Arizona include ...

In [80]:
df9 = df9[['bodo_sent']]

In [81]:
df9.head()

                                           bodo_sent
0  दि ग्रेन्टा केनियन स्टेट एबा कपार स्टेट एरिजना...
1  हां-लानाय हगारनाय सावस्रिनि जेंना थानाय एबा दा...
2  थांनाय थामजि बोसोराव हादरसानि सुबुं अनजिमाया थ...
3  आथिखालाव मोनथाम एरिजनानसनि मादाव मोनसेया बुमिं...
4  हादरारि पार्क आरो गोजाम नेर्सोनफोरनि मादाव एरि...

In [82]:
df9.rename(columns={
    "bodo_sent": "text"
}, inplace=True)

In [83]:
df9.head()

                                                text
0  दि ग्रेन्टा केनियन स्टेट एबा कपार स्टेट एरिजना...
1  हां-लानाय हगारनाय सावस्रिनि जेंना थानाय एबा दा...
2  थांनाय थामजि बोसोराव हादरसानि सुबुं अनजिमाया थ...
3  आथिखालाव मोनथाम एरिजनानसनि मादाव मोनसेया बुमिं...
4  हादरारि पार्क आरो गोजाम नेर्सोनफोरनि मादाव एरि...

In [84]:
df10 = pd.read_excel('datasets/Bodo/6.xlsx')

In [85]:
df10.head()

,bodo_sent,eng_sent
0,हादोरा बुहुमनि जौसिन दै बाज्रुम एंगोल दै बाज्र...,The country is home to the world's highest wat...
1,काराकास राजथावनिया समायना जारिनिनारि समायना खा...,"The capital, Caracas, boasts fine historical m..."
2,बे हादरनि नायथिंग्राफोरा मोनसे गोजोन रोंगौथिनि...,Visitors to this country have the choice of a ...
3,बिसोर गोजौनि बबेबा मोनसे एबा गासैबो बाहागोआवनो...,"Whether they wish to experience one, or all of..."
4,फ्राय 500 बोसोर स्पेनिस देरहागिरिफोरनि गोहोमखौ...,"Almost 500 years on, the impact of Spanish con..."

In [86]:
df10 = df10[['bodo_sent']]

In [87]:
df10.head()

                                           bodo_sent
0  हादोरा बुहुमनि जौसिन दै बाज्रुम एंगोल दै बाज्र...
1  काराकास राजथावनिया समायना जारिनिनारि समायना खा...
2  बे हादरनि नायथिंग्राफोरा मोनसे गोजोन रोंगौथिनि...
3  बिसोर गोजौनि बबेबा मोनसे एबा गासैबो बाहागोआवनो...
4  फ्राय 500 बोसोर स्पेनिस देरहागिरिफोरनि गोहोमखौ...

In [88]:
df10.rename(columns={
    'bodo_sent': 'text'
}, inplace=True)

In [89]:
df10.head()

                                                text
0  हादोरा बुहुमनि जौसिन दै बाज्रुम एंगोल दै बाज्र...
1  काराकास राजथावनिया समायना जारिनिनारि समायना खा...
2  बे हादरनि नायथिंग्राफोरा मोनसे गोजोन रोंगौथिनि...
3  बिसोर गोजौनि बबेबा मोनसे एबा गासैबो बाहागोआवनो...
4  फ्राय 500 बोसोर स्पेनिस देरहागिरिफोरनि गोहोमखौ...

In [90]:
df11 = pd.read_csv('datasets/Bodo/7.csv')

In [91]:
df11.head()

,ENGLISH,bodo
0,Two of the best trains viz. Shatabdi express (...,रोखोमनै साबसिन त्रेइन जेरै- सताबदि अक्सप्रेस (...
1,"Agra, on cross roads of national highways 2, 3...","राजा लामानि 2, 3, आरो 11 आ आग्रासिम थांनो थाखा..."
2,Kheria Airport (Airport of Agra) is about 6 km...,सेरिया बिरखं गाथोना (आग्रानि बिरखं गाथोन) आरो ...
3,Agra is well connected by excellent train serv...,आग्रानिफअराय दिल्लीसिम थांनो थाखाय त्रेइननि फो...
4,Agra is the one of the prominent destinations ...,बुहुमनि दावबायारिफोरनि थाखाय आग्रानि मुंदांखा ...

In [92]:
df11 = df11[['bodo']]

In [93]:
df11.head()

                                                bodo
0  रोखोमनै साबसिन त्रेइन जेरै- सताबदि अक्सप्रेस (...
1  राजा लामानि 2, 3, आरो 11 आ आग्रासिम थांनो थाखा...
2  सेरिया बिरखं गाथोना (आग्रानि बिरखं गाथोन) आरो ...
3  आग्रानिफअराय दिल्लीसिम थांनो थाखाय त्रेइननि फो...
4  बुहुमनि दावबायारिफोरनि थाखाय आग्रानि मुंदांखा ...

In [94]:
df11.rename(columns={
    'bodo': 'text'
}, inplace=True)

In [95]:
df11.head()

                                                text
0  रोखोमनै साबसिन त्रेइन जेरै- सताबदि अक्सप्रेस (...
1  राजा लामानि 2, 3, आरो 11 आ आग्रासिम थांनो थाखा...
2  सेरिया बिरखं गाथोना (आग्रानि बिरखं गाथोन) आरो ...
3  आग्रानिफअराय दिल्लीसिम थांनो थाखाय त्रेइननि फो...
4  बुहुमनि दावबायारिफोरनि थाखाय आग्रानि मुंदांखा ...

In [96]:
df12 = pd.read_csv('datasets/Bodo/bodo-mono.csv', header=None, names=['text'])

In [97]:
df12.head()

         text
0  जोनोम लायि
1  जोनोम लायै
2       उजियि
3       उजियै
4        हाबि

In [98]:
data = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])

In [99]:
data.shape

(279187, 1)

In [100]:
data.isna().sum()

text    606
dtype: int64

In [101]:
data.dropna(inplace=True)

In [102]:
data.shape

(278581, 1)

In [103]:
data.duplicated().sum()

21394

In [104]:
data.drop_duplicates(inplace=True)

In [105]:
data.shape

(257187, 1)

In [106]:
data.head()

                                       text
0        अन्नानै आंंनो दिनैनि अक्टखौ खिन्था
1  बे ओनसोलनि फैगौ इभेन्टफोरखौ आंनो खोन्था।
2              दानि थाखाय टेक्सि बुक खालाम।
3         लेक्समार्कनि स्टक बेसेना बेसेबां?
4              अन्नानै गिबि फारिलाइखौ बोखार

In [107]:
data.to_csv('final/Bodo.csv')

## English

In [108]:
df1 = pd.read_csv('datasets/English/test.csv')

In [109]:
df1.head()

        text_id                                          full_text
0  0000C359D63E  when a person has no experience on a job their...
1  000BAD50D026  Do you think students would benefit from being...
2  00367BB2546B  Thomas Jefferson once states that "it is wonde...

In [110]:
df1 = df1[['full_text']]

In [111]:
df1.head()

                                           full_text
0  when a person has no experience on a job their...
1  Do you think students would benefit from being...
2  Thomas Jefferson once states that "it is wonde...

In [112]:
df1.rename(columns={
    'full_text': 'text'
}, inplace=True)

In [113]:
df1.head()

                                                text
0  when a person has no experience on a job their...
1  Do you think students would benefit from being...
2  Thomas Jefferson once states that "it is wonde...

In [114]:
df2 = pd.read_csv('datasets/English/train.csv')

In [115]:
df2.head()

,text_id,full_text,cohesion,syntax,vocabulary,phraseology,grammar,conventions
0,0016926B079C,I think that students would benefit from learn...,3.5,3.5,3.0,3.0,4.0,3.0
1,0022683E9EA5,When a problem is a change you have to let it ...,2.5,2.5,3.0,2.0,2.0,2.5
2,00299B378633,"Dear, Principal\n\nIf u change the school poli...",3.0,3.5,3.0,3.0,3.0,2.5
3,003885A45F42,The best time in life is when you become yours...,4.5,4.5,4.5,4.5,4.0,5.0
4,0049B1DF5CCC,Small act of kindness can impact in other peop...,2.5,3.0,3.0,3.0,2.5,2.5

In [116]:
df2 = df2[['full_text']]

In [117]:
df2.head()

                                           full_text
0  I think that students would benefit from learn...
1  When a problem is a change you have to let it ...
2  Dear, Principal\n\nIf u change the school poli...
3  The best time in life is when you become yours...
4  Small act of kindness can impact in other peop...

In [118]:
df2.rename(columns={
    'full_text': 'text'
}, inplace=True)

In [119]:
df2.head()

                                                text
0  I think that students would benefit from learn...
1  When a problem is a change you have to let it ...
2  Dear, Principal\n\nIf u change the school poli...
3  The best time in life is when you become yours...
4  Small act of kindness can impact in other peop...

In [120]:
data = pd.concat([df1, df2])

In [121]:
data.head()

                                                text
0  when a person has no experience on a job their...
1  Do you think students would benefit from being...
2  Thomas Jefferson once states that "it is wonde...
0  I think that students would benefit from learn...
1  When a problem is a change you have to let it ...

In [122]:
data.shape

(3914, 1)

In [123]:
data.isna().sum()

text    0
dtype: int64

In [124]:
data.duplicated().sum()

0

In [125]:
def extract_english_text(text):
    # Regular expression pattern to match English characters
    english_pattern = re.compile(r'[A-Za-z\s]+')
    # Find all matches of English text in the input text
    english_matches = english_pattern.findall(text)
    # Filter out empty strings
    english_matches = [match.strip() for match in english_matches if match.strip()]
    # Join the matches to form the extracted English text
    english_text = ' '.join(english_matches)
    return english_text

In [126]:
data['cleaned'] = data['text'].apply(extract_english_text)

In [127]:
data.head()

,text,cleaned
0,when a person has no experience on a job their...,when a person has no experience on a job their...
1,Do you think students would benefit from being...,Do you think students would benefit from being...
2,"Thomas Jefferson once states that ""it is wonde...",Thomas Jefferson once states that it is wonder...
0,I think that students would benefit from learn...,I think that students would benefit from learn...
1,When a problem is a change you have to let it ...,When a problem is a change you have to let it ...

In [128]:
data = data[['cleaned']]

In [129]:
data.head()

                                             cleaned
0  when a person has no experience on a job their...
1  Do you think students would benefit from being...
2  Thomas Jefferson once states that it is wonder...
0  I think that students would benefit from learn...
1  When a problem is a change you have to let it ...

In [130]:
data.rename(columns={
    'cleaned': 'text'
}, inplace=True)

In [131]:
data.head()

                                                text
0  when a person has no experience on a job their...
1  Do you think students would benefit from being...
2  Thomas Jefferson once states that it is wonder...
0  I think that students would benefit from learn...
1  When a problem is a change you have to let it ...

In [132]:
data.to_csv('final/English.csv')

## Gujarati

In [154]:
data = pd.DataFrame(columns=['text'])

In [155]:
for i in os.listdir('datasets/Gujarati/train/train'):
    with open(f'datasets/Gujarati/train/train/{i}') as f:
        data.loc[len(data.index)] = [f.read()]

In [156]:
data.head()

                                                text
0  ગુજરાત અને ભારતમાં સ્થાન\nદૂધની ડેરી\nમકાઈ\nબલ...
1  ગુજરાત અને ભારતમાં સ્થાન\nજામલા ભારત દેશના પશ્...
2  \nગુજરાત અને ભારતમાં સ્થાન\nલાટવા ભારત દેશના પ...
3  જાંબુઘોડા તાલુકો ભારત દેશના પશ્ચિમ ભાગમાં આવેલ...
4  ગુજરાત અને ભારતમાં સ્થાન\nડેરી\nમાનગુ ભારત દેશ...

In [157]:
for i in os.listdir('datasets/Gujarati/valid/valid'):
    with open(f'datasets/Gujarati/valid/valid/{i}') as f:
        data.loc[len(data.index)] = [f.read()]

In [158]:
data.head()

                                                text
0  ગુજરાત અને ભારતમાં સ્થાન\nદૂધની ડેરી\nમકાઈ\nબલ...
1  ગુજરાત અને ભારતમાં સ્થાન\nજામલા ભારત દેશના પશ્...
2  \nગુજરાત અને ભારતમાં સ્થાન\nલાટવા ભારત દેશના પ...
3  જાંબુઘોડા તાલુકો ભારત દેશના પશ્ચિમ ભાગમાં આવેલ...
4  ગુજરાત અને ભારતમાં સ્થાન\nડેરી\nમાનગુ ભારત દેશ...

In [159]:
data.shape

(31913, 1)

In [160]:
data.isna().sum()

text    0
dtype: int64

In [161]:
data.duplicated().sum()

3522

In [162]:
data.drop_duplicates(inplace=True)

In [163]:
data.shape

(28391, 1)