In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('final_dataset.csv')

In [3]:
data.head()

                                                text language
0      which corresponds to a distance of Mly or Mpc  English
1  webhost is a free web hosting service operated...  English
2  x is a Dutch born audiovisual artist currently...  English
3  is an alcohol abuse prevention program develop...  English
4  is the debut studio album of H llb nt released...  English

In [4]:
data.shape

(7935983, 2)

In [5]:
data['language'].value_counts()

English      7698142
Bengali        82980
Telugu         47415
Gujarati       28363
Assamese       24357
Tamil          20083
Hindi          14462
Odia           10052
Malayalam       9132
Punjabi          784
Kannada          203
Kashmiri          10
Name: language, dtype: int64

In [6]:
data.isna().sum()

text        0
language    0
dtype: int64

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [8]:
import numpy as np

In [9]:
x = np.array(data["text"])
y = np.array(data["language"])

In [10]:
cv = CountVectorizer()

In [ ]:
X = cv.fit_transform(x)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
model = MultinomialNB()

In [ ]:
model.fit(X_train,y_train)

In [ ]:
model.score(X_test,y_test)

In [ ]:
text = 'hey'

In [ ]:
data = cv.transform([text]).toarray()

In [ ]:
output = model.predict(data)

In [ ]:
print(output)