In [1]:
ls datasets

Assamese/  English/   Hindi/    Kashmiri.csv  Odia/     Tamil/
Bengali/   Gujarati/  Kannada/  Malayalam/    Punjabi/  Telugu/

In [2]:
    import pandas as pd

In [3]:
mkdir final

mkdir: cannot create directory ‘final’: File exists

## Assamese

In [4]:
ls datasets/Assamese/

nenow_dataset.txt       new18_dataset.txt
nenow_preprocessed.csv  news18_preprocessed.csv

In [5]:
data = pd.read_csv("datasets/Assamese/nenow_preprocessed.csv")

In [6]:
data.head()

,S No.,summary,text
0,1,কাৰাবন্দীৰ পৰা গৃহবন্দী হৈ উভতিল আং ছান ছু কী,আং ছান ছু কীফাইল ফটোসংগ্ৰহীতকাৰাগাৰৰ সূত্ৰই জন...
1,2,চীন কোৰিয়া ইণ্ডোনেছিয়াৰ পৰা আমদানি কৰা অপটিক...,ফটোসংগ্ৰহীতসস্তীয়া আমদানিৰ পৰা ঘৰুৱা উদ্যোগক ...
2,3,গ্ৰেপ্তাৰ হল ইমৰান খানদুৰ্নীতিৰ গোচৰত তিনিবছৰৰ...,বিপদে লগ নেৰা হৈছে পাকিস্তানৰ প্ৰাক্তন প্ৰধানম...
3,4,এইবাৰ পাকিস্তানৰ যুৱকৰ সৈতে বিয়াত বহিল দুই সন...,শচীনসীমা বিবাহ কাণ্ডই বিগত কিছুদিন ধৰি দুই চুব...
4,5,নিষেধাজ্ঞা নেওচি ভাৰতলৈ নেপালৰ বিলাহীঘোচ লৈ চা...,ভাৰতত আকাশলংঘী হৈছে বিলাহীৰ দামবিলাহীৰ এই অকল্...

In [7]:
data = data[["summary"]]

In [8]:
data.head()

                                             summary
0      কাৰাবন্দীৰ পৰা গৃহবন্দী হৈ উভতিল আং ছান ছু কী
1  চীন কোৰিয়া ইণ্ডোনেছিয়াৰ পৰা আমদানি কৰা অপটিক...
2  গ্ৰেপ্তাৰ হল ইমৰান খানদুৰ্নীতিৰ গোচৰত তিনিবছৰৰ...
3  এইবাৰ পাকিস্তানৰ যুৱকৰ সৈতে বিয়াত বহিল দুই সন...
4  নিষেধাজ্ঞা নেওচি ভাৰতলৈ নেপালৰ বিলাহীঘোচ লৈ চা...

In [9]:
data['language'] = "Assamese"

In [10]:
data.head()

                                             summary  language
0      কাৰাবন্দীৰ পৰা গৃহবন্দী হৈ উভতিল আং ছান ছু কী  Assamese
1  চীন কোৰিয়া ইণ্ডোনেছিয়াৰ পৰা আমদানি কৰা অপটিক...  Assamese
2  গ্ৰেপ্তাৰ হল ইমৰান খানদুৰ্নীতিৰ গোচৰত তিনিবছৰৰ...  Assamese
3  এইবাৰ পাকিস্তানৰ যুৱকৰ সৈতে বিয়াত বহিল দুই সন...  Assamese
4  নিষেধাজ্ঞা নেওচি ভাৰতলৈ নেপালৰ বিলাহীঘোচ লৈ চা...  Assamese

In [11]:
data.rename(columns={
    'summary': 'text'
}, inplace=True)

In [12]:
data.head()

                                                text  language
0      কাৰাবন্দীৰ পৰা গৃহবন্দী হৈ উভতিল আং ছান ছু কী  Assamese
1  চীন কোৰিয়া ইণ্ডোনেছিয়াৰ পৰা আমদানি কৰা অপটিক...  Assamese
2  গ্ৰেপ্তাৰ হল ইমৰান খানদুৰ্নীতিৰ গোচৰত তিনিবছৰৰ...  Assamese
3  এইবাৰ পাকিস্তানৰ যুৱকৰ সৈতে বিয়াত বহিল দুই সন...  Assamese
4  নিষেধাজ্ঞা নেওচি ভাৰতলৈ নেপালৰ বিলাহীঘোচ লৈ চা...  Assamese

In [13]:
assamese1 = data.copy()

In [14]:
assamese1.head()

                                                text  language
0      কাৰাবন্দীৰ পৰা গৃহবন্দী হৈ উভতিল আং ছান ছু কী  Assamese
1  চীন কোৰিয়া ইণ্ডোনেছিয়াৰ পৰা আমদানি কৰা অপটিক...  Assamese
2  গ্ৰেপ্তাৰ হল ইমৰান খানদুৰ্নীতিৰ গোচৰত তিনিবছৰৰ...  Assamese
3  এইবাৰ পাকিস্তানৰ যুৱকৰ সৈতে বিয়াত বহিল দুই সন...  Assamese
4  নিষেধাজ্ঞা নেওচি ভাৰতলৈ নেপালৰ বিলাহীঘোচ লৈ চা...  Assamese

In [15]:
data = pd.read_csv('datasets/Assamese/news18_preprocessed.csv')

In [16]:
data.head()

,S No.,summary,text
0,1,জিলা আয়ুক্তৰ বাসভৱনৰ কাষতে মহিলাৰ পৰা থপিয়াই...,নিৰাপত্তাহীনতাত ভুগিছে যোৰহাট নগৰবাসীয়েযোৰহাট...
1,2,পুনৰ জালুকবাৰীৰ নতুন শৰাইঘাট দলঙত অঘটন,পুনৰ জালুকবাৰীৰ নতুন শৰাইঘাট দলঙত অঘটনদলঙৰ মাজ...
2,3,দিহানামেৰে বিশ্ব অভিলেখৰ প্ৰস্তুতি কিন্তু আৰম্...,বাপতিসাহোন বিহুৰ পিছত এইবাৰ দিহানাম পৰিৱেশনেৰে...
3,4,আন্তঃৰাষ্ট্ৰীয় গণিত অলিম্পিয়াডত ছয়টা বিষয়ত...,নতুন দিল্লীৰ চিলভাৰ জন অলিম্পিয়াডৰ উদ্যোগত অন...
4,5,দিল্লীতে কিয় কেবিনেট ছিংগাপুৰলণ্ডনম্যানমাৰতো প...,বুধবাৰে সন্ধিয়া পাঁচ বজাত নতুন দিল্লীত অনুষ্ঠি...

In [17]:
data['summary'][0]

'জিলা আয়ুক্তৰ বাসভৱনৰ কাষতে মহিলাৰ পৰা থপিয়াই নিলে বেগ'

In [18]:
data = data[['summary']]

In [19]:
data['language'] = 'Assamese'

In [20]:
data.head()

                                             summary  language
0  জিলা আয়ুক্তৰ বাসভৱনৰ কাষতে মহিলাৰ পৰা থপিয়াই...  Assamese
1             পুনৰ জালুকবাৰীৰ নতুন শৰাইঘাট দলঙত অঘটন  Assamese
2  দিহানামেৰে বিশ্ব অভিলেখৰ প্ৰস্তুতি কিন্তু আৰম্...  Assamese
3  আন্তঃৰাষ্ট্ৰীয় গণিত অলিম্পিয়াডত ছয়টা বিষয়ত...  Assamese
4  দিল্লীতে কিয় কেবিনেট ছিংগাপুৰলণ্ডনম্যানমাৰতো প...  Assamese

In [21]:
data.rename(columns={
    'summary': 'text'
}, inplace=True)

In [22]:
data.head()

                                                text  language
0  জিলা আয়ুক্তৰ বাসভৱনৰ কাষতে মহিলাৰ পৰা থপিয়াই...  Assamese
1             পুনৰ জালুকবাৰীৰ নতুন শৰাইঘাট দলঙত অঘটন  Assamese
2  দিহানামেৰে বিশ্ব অভিলেখৰ প্ৰস্তুতি কিন্তু আৰম্...  Assamese
3  আন্তঃৰাষ্ট্ৰীয় গণিত অলিম্পিয়াডত ছয়টা বিষয়ত...  Assamese
4  দিল্লীতে কিয় কেবিনেট ছিংগাপুৰলণ্ডনম্যানমাৰতো প...  Assamese

In [23]:
final = pd.concat([assamese1, data])

In [24]:
final.head()

                                                text  language
0      কাৰাবন্দীৰ পৰা গৃহবন্দী হৈ উভতিল আং ছান ছু কী  Assamese
1  চীন কোৰিয়া ইণ্ডোনেছিয়াৰ পৰা আমদানি কৰা অপটিক...  Assamese
2  গ্ৰেপ্তাৰ হল ইমৰান খানদুৰ্নীতিৰ গোচৰত তিনিবছৰৰ...  Assamese
3  এইবাৰ পাকিস্তানৰ যুৱকৰ সৈতে বিয়াত বহিল দুই সন...  Assamese
4  নিষেধাজ্ঞা নেওচি ভাৰতলৈ নেপালৰ বিলাহীঘোচ লৈ চা...  Assamese

In [25]:
final.isna().sum()

text        0
language    0
dtype: int64

In [26]:
final.duplicated().sum()

77

In [27]:
final.shape

(24357, 2)

In [28]:
final.drop_duplicates(inplace=True)

In [29]:
final.shape

(24280, 2)

In [30]:
final['text'].duplicated().sum()

0

In [31]:
final.to_csv('final/Assamese.csv', index=None)

## Bengali

In [32]:
ls datasets/Bengali/

data/  data_v2/

In [33]:
ls datasets/Bengali/data

data.json

In [34]:
data = pd.read_json("datasets/Bengali/data/data.json")

In [35]:
data.head()

,author,category,category_bn,published_date,modification_date,tag,comment_count,title,url,content
0,গাজীপুর প্রতিনিধি,bangladesh,বাংলাদেশ,"০৪ জুলাই ২০১৩, ২৩:২৬","০৪ জুলাই ২০১৩, ২৩:২৭",[গাজীপুর],0,"কালিয়াকৈরে টিফিন খেয়ে ৫০০ শ্রমিক অসুস্থ, বিক...",http://www.prothom-alo.com/bangladesh/article/...,গাজীপুরের কালিয়াকৈর উপজেলার তেলিরচালা এলাকায়...
1,অনলাইন ডেস্ক,sports,খেলা,"০৪ জুলাই ২০১৩, ২৩:০৯","০৪ জুলাই ২০১৩, ২৩:১১",[টেনিস],0,সেমিফাইনাল বাধাও পেরিয়ে গেলেন লিসিকি,http://www.prothom-alo.com/sports/article/19028,এবারের উইম্বলডনটা স্মরণীয় করে রাখার মিশনেই যে...
2,নিজস্ব প্রতিবেদক,bangladesh,বাংলাদেশ,"০৪ জুলাই ২০১৩, ২২:২৫","০৪ জুলাই ২০১৩, ২৩:১২",[রাজনীতি],0,সংসদে খালেদার অভিযোগের জবাব দিয়েছে ভারত,http://www.prothom-alo.com/bangladesh/article/...,জাতীয় সংসদে বিএনপি চেয়ারপারসন ও বিরোধীদলীয় ...
3,অনলাইন ডেস্ক,technology,বিজ্ঞান ও প্রযুক্তি,"০৪ জুলাই ২০১৩, ২১:৩৭","০৪ জুলাই ২০১৩, ২১:৪৫",[গবেষণা],0,পাসওয়ার্ড ভুলে যান!,http://www.prothom-alo.com/technology/article/...,সহজ পাসওয়ার্ডের কারণে অনলাইন অ্যাকাউন্ট সহজেই...
4,অনলাইন ডেস্ক,technology,বিজ্ঞান ও প্রযুক্তি,"০৪ জুলাই ২০১৩, ২১:৩৫","০৪ জুলাই ২০১৩, ২১:৩৭",[কম্পিউটার],0,চলে গেলেন মাউস উদ্ভাবক,http://www.prothom-alo.com/technology/article/...,কম্পিউটার মাউসের উদ্ভাবক ডগলাস অ্যাঙ্গেলবার্ট ...

In [36]:
data['title'][0]

'কালিয়াকৈরে টিফিন খেয়ে ৫০০ শ্রমিক অসুস্থ, বিক্ষোভ'

In [37]:
data = data[['title']]

In [38]:
data['language'] = 'Bengali'

In [39]:
data.head()

                                               title language
0  কালিয়াকৈরে টিফিন খেয়ে ৫০০ শ্রমিক অসুস্থ, বিক...  Bengali
1              সেমিফাইনাল বাধাও পেরিয়ে গেলেন লিসিকি  Bengali
2           সংসদে খালেদার অভিযোগের জবাব দিয়েছে ভারত  Bengali
3                               পাসওয়ার্ড ভুলে যান!  Bengali
4                             চলে গেলেন মাউস উদ্ভাবক  Bengali

In [40]:
data.rename(columns={
    'title': 'text'
}, inplace=True)

In [41]:
bengali1 = data.copy()

In [42]:
bengali1.head()

                                                text language
0  কালিয়াকৈরে টিফিন খেয়ে ৫০০ শ্রমিক অসুস্থ, বিক...  Bengali
1              সেমিফাইনাল বাধাও পেরিয়ে গেলেন লিসিকি  Bengali
2           সংসদে খালেদার অভিযোগের জবাব দিয়েছে ভারত  Bengali
3                               পাসওয়ার্ড ভুলে যান!  Bengali
4                             চলে গেলেন মাউস উদ্ভাবক  Bengali

In [43]:
data = pd.read_json("datasets/Bengali/data_v2/data_v2.json")

In [44]:
data.head()

,author,category,category_bn,published_date,modification_date,tag,comment_count,title,url,content
0,গাজীপুর প্রতিনিধি,bangladesh,বাংলাদেশ,"০৪ জুলাই ২০১৩, ২৩:২৬","০৪ জুলাই ২০১৩, ২৩:২৭",[গাজীপুর],0,"কালিয়াকৈরে টিফিন খেয়ে ৫০০ শ্রমিক অসুস্থ, বিক...",http://www.prothom-alo.com/bangladesh/article/...,গাজীপুরের কালিয়াকৈর উপজেলার তেলিরচালা এলাকায়...
1,অনলাইন ডেস্ক,sports,খেলা,"০৪ জুলাই ২০১৩, ২৩:০৯","০৪ জুলাই ২০১৩, ২৩:১১",[টেনিস],0,সেমিফাইনাল বাধাও পেরিয়ে গেলেন লিসিকি,http://www.prothom-alo.com/sports/article/19028,এবারের উইম্বলডনটা স্মরণীয় করে রাখার মিশনেই যে...
2,নিজস্ব প্রতিবেদক,bangladesh,বাংলাদেশ,"০৪ জুলাই ২০১৩, ২২:২৫","০৪ জুলাই ২০১৩, ২৩:১২",[রাজনীতি],0,সংসদে খালেদার অভিযোগের জবাব দিয়েছে ভারত,http://www.prothom-alo.com/bangladesh/article/...,জাতীয় সংসদে বিএনপি চেয়ারপারসন ও বিরোধীদলীয় ...
3,অনলাইন ডেস্ক,technology,বিজ্ঞান ও প্রযুক্তি,"০৪ জুলাই ২০১৩, ২১:৩৭","০৪ জুলাই ২০১৩, ২১:৪৫",[গবেষণা],0,পাসওয়ার্ড ভুলে যান!,http://www.prothom-alo.com/technology/article/...,সহজ পাসওয়ার্ডের কারণে অনলাইন অ্যাকাউন্ট সহজেই...
4,অনলাইন ডেস্ক,technology,বিজ্ঞান ও প্রযুক্তি,"০৪ জুলাই ২০১৩, ২১:৩৫","০৪ জুলাই ২০১৩, ২১:৩৭",[কম্পিউটার],0,চলে গেলেন মাউস উদ্ভাবক,http://www.prothom-alo.com/technology/article/...,কম্পিউটার মাউসের উদ্ভাবক ডগলাস অ্যাঙ্গেলবার্ট ...

In [45]:
data['title'][0]

'কালিয়াকৈরে টিফিন খেয়ে ৫০০ শ্রমিক অসুস্থ, বিক্ষোভ'

In [46]:
data = data[['title']]

In [47]:
data['language'] = "Bengali"

In [48]:
data.rename(columns={
    'title': 'text'
}, inplace=True)

In [49]:
data.head()

                                                text language
0  কালিয়াকৈরে টিফিন খেয়ে ৫০০ শ্রমিক অসুস্থ, বিক...  Bengali
1              সেমিফাইনাল বাধাও পেরিয়ে গেলেন লিসিকি  Bengali
2           সংসদে খালেদার অভিযোগের জবাব দিয়েছে ভারত  Bengali
3                               পাসওয়ার্ড ভুলে যান!  Bengali
4                             চলে গেলেন মাউস উদ্ভাবক  Bengali

In [50]:
final = pd.concat([bengali1, data])

In [51]:
final.head()

                                                text language
0  কালিয়াকৈরে টিফিন খেয়ে ৫০০ শ্রমিক অসুস্থ, বিক...  Bengali
1              সেমিফাইনাল বাধাও পেরিয়ে গেলেন লিসিকি  Bengali
2           সংসদে খালেদার অভিযোগের জবাব দিয়েছে ভারত  Bengali
3                               পাসওয়ার্ড ভুলে যান!  Bengali
4                             চলে গেলেন মাউস উদ্ভাবক  Bengali

In [52]:
final.shape

(846419, 2)

In [53]:
final.isna().sum()

text        0
language    0
dtype: int64

In [54]:
final.duplicated().sum()

449978

In [55]:
final.drop_duplicates(inplace=True)

In [56]:
final.shape

(396441, 2)

In [57]:
final['text'].duplicated().sum()

0

In [58]:
final.to_csv("final/Bengali.csv", index=None)

## English

In [64]:
ls datasets/English/

metadata.csv

In [65]:
import pandas as pd

In [66]:
data = pd.read_csv("datasets/English/metadata.csv")

/tmp/ipykernel_24282/972192428.py:1: DtypeWarning: Columns (1,4,5,6,13,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("datasets/English/metadata.csv")

In [67]:
data.head()

,cord_uid,sha,source_x,title,doi,pmcid,pubmed_id,license,abstract,publish_time,authors,journal,mag_id,who_covidence_id,arxiv_id,pdf_json_files,pmc_json_files,url,s2_id
0,ug7v899j,d1aafb70c066a2068b02786f8929fd9c900897fb,PMC,Clinical features of culture-proven Mycoplasma...,10.1186/1471-2334-1-6,PMC35282,11472636,no-cc,OBJECTIVE: This retrospective chart review des...,2001-07-04,"Madani, Tariq A; Al-Ghamdi, Aisha A",BMC Infect Dis,NaN,NaN,NaN,document_parses/pdf_json/d1aafb70c066a2068b027...,document_parses/pmc_json/PMC35282.xml.json,https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3...,NaN
1,02tnwd4m,6b0567729c2143a66d737eb0a2f63f2dce2e5a7d,PMC,Nitric oxide: a pro-inflammatory mediator in l...,10.1186/rr14,PMC59543,11667967,no-cc,Inflammatory diseases of the respiratory tract...,2000-08-15,"Vliet, Albert van der; Eiserich, Jason P; Cros...",Respir Res,NaN,NaN,NaN,document_parses/pdf_json/6b0567729c2143a66d737...,document_parses/pmc_json/PMC59543.xml.json,https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5...,NaN
2,ejv2xln0,06ced00a5fc04215949aa72528f2eeaae1d58927,PMC,Surfactant protein-D and pulmonary host defense,10.1186/rr19,PMC59549,11667972,no-cc,Surfactant protein-D (SP-D) participates in th...,2000-08-25,"Crouch, Erika C",Respir Res,NaN,NaN,NaN,document_parses/pdf_json/06ced00a5fc04215949aa...,document_parses/pmc_json/PMC59549.xml.json,https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5...,NaN
3,2b73a28n,348055649b6b8cf2b9a376498df9bf41f7123605,PMC,Role of endothelin-1 in lung disease,10.1186/rr44,PMC59574,11686871,no-cc,Endothelin-1 (ET-1) is a 21 amino acid peptide...,2001-02-22,"Fagan, Karen A; McMurtry, Ivan F; Rodman, David M",Respir Res,NaN,NaN,NaN,document_parses/pdf_json/348055649b6b8cf2b9a37...,document_parses/pmc_json/PMC59574.xml.json,https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5...,NaN
4,9785vg6d,5f48792a5fa08bed9f56016f4981ae2ca6031b32,PMC,Gene expression in epithelial cells in respons...,10.1186/rr61,PMC59580,11686888,no-cc,Respiratory syncytial virus (RSV) and pneumoni...,2001-05-11,"Domachowske, Joseph B; Bonville, Cynthia A; Ro...",Respir Res,NaN,NaN,NaN,document_parses/pdf_json/5f48792a5fa08bed9f560...,document_parses/pmc_json/PMC59580.xml.json,https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5...,NaN

In [70]:
data['title'][99]

'Transcript-level annotation of Affymetrix probesets improves the interpretation of gene expression data'

In [71]:
data = data[['title']]

In [72]:
data['language'] = 'English'

In [73]:
data.head()

                                               title language
0  Clinical features of culture-proven Mycoplasma...  English
1  Nitric oxide: a pro-inflammatory mediator in l...  English
2    Surfactant protein-D and pulmonary host defense  English
3               Role of endothelin-1 in lung disease  English
4  Gene expression in epithelial cells in respons...  English

In [74]:
data.isna().sum()

title       503
language      0
dtype: int64

In [75]:
data.shape

(1056660, 2)

In [78]:
data.dropna(inplace=True)

In [79]:
data.shape

(1056157, 2)

In [80]:
data.duplicated().sum()

205791

In [81]:
data.drop_duplicates(inplace=True)

In [82]:
data.shape

(850366, 2)

In [83]:
data.head()

                                               title language
0  Clinical features of culture-proven Mycoplasma...  English
1  Nitric oxide: a pro-inflammatory mediator in l...  English
2    Surfactant protein-D and pulmonary host defense  English
3               Role of endothelin-1 in lung disease  English
4  Gene expression in epithelial cells in respons...  English

In [84]:
data.rename(columns={
    'title': 'text'
}, inplace=True)

In [85]:
data.head()

                                                text language
0  Clinical features of culture-proven Mycoplasma...  English
1  Nitric oxide: a pro-inflammatory mediator in l...  English
2    Surfactant protein-D and pulmonary host defense  English
3               Role of endothelin-1 in lung disease  English
4  Gene expression in epithelial cells in respons...  English

In [86]:
data.to_csv('final/English.csv', index=None)

## Gujarati

In [89]:
ls datasets/Gujarati/

Guj_train.csv

In [90]:
data = pd.read_csv('datasets/Gujarati/Guj_train.csv')

In [91]:
data.head()

,id,Link,Heading,Summary,Article
0,b65e86e963ba642d1c4eb8d0d31c9edc,https://www.divyabhaskar.co.in/local/gujarat/s...,ગેરરીતિ મામલે કાર્યવાહી:મોરબીમાં ઈમ્પેક્ટ ફી વ...,વસુલાતનું સઘળું રેકોર્ડ રજૂ કરવા કર્મચારીઓને ત...,વિશ્વના બીજા નંબરના સૌથી મોટા સિરામીક ઉદ્યોગનુ...
1,656c3c9240508df5e761077b49c2ae3b,https://www.divyabhaskar.co.in/local/gujarat/m...,રજૂઆત:ભાગીને લગ્ન કરતી દીકરી માટે લગ્ન નોંધણીમ...,ચોરાસી કડવા પાટીદાર સમાજની કારોબારીમાં સરકારમા...,ચોરાસી કડવા પાટીદાર સમાજની કારોબારી સભામાં ભાગ...
2,b7e01e0d967b32358e89304a757154f1,https://www.divyabhaskar.co.in/local/gujarat/s...,રજૂઆત:લખતરથી ખેરવા જતી માઇનોર કેનાલ બિસ્માર હા...,અવારનવાર કેનાલ તૂટી જતી હોવાથી ખેતરોમાં પાણી વ...,ધ્રાંગધ્રા- સોખડા ગામ પાસેથી લખતરથી ખેરવા જતી ...
3,b1957ae63894b028fc4b3da17453f694,https://www.divyabhaskar.co.in/local/gujarat/v...,વડોદરામાં નર્સની ફરજ નિષ્ઠા:પતિ સરહદ પર દેશની ...,કારેલીબાગ વિસ્તારની ધનંજય સ્કૂલમાં દીકરીને સાથ...,"જૂન-2020માં કોરોનાની મહામારી પરાકાષ્ઠાએ હતી, ત..."
4,7c248d053dfe28ab92350f2099bca134,https://gujarati.news18.com/news/madhya-gujara...,Ahmedabad crime news: મંદિરના ગેટ આગળ બહાર દાર...,Ahmedabad crime news: સામાન્ય બાબતે ઉગ્ર સ્વરુ...,અમદાવાદઃ સુરતના (surat news) અમરોલીમાં પોલીસ સ...

In [93]:
data['Heading'][99]

'અમદાવાદની ASTRAL કંપની પર આવકવેરાના દરોડા, બેનામી મિલકતોની આશંકા'

In [94]:
data = data[['Heading']]

In [95]:
data.head()

                                             Heading
0  ગેરરીતિ મામલે કાર્યવાહી:મોરબીમાં ઈમ્પેક્ટ ફી વ...
1  રજૂઆત:ભાગીને લગ્ન કરતી દીકરી માટે લગ્ન નોંધણીમ...
2  રજૂઆત:લખતરથી ખેરવા જતી માઇનોર કેનાલ બિસ્માર હા...
3  વડોદરામાં નર્સની ફરજ નિષ્ઠા:પતિ સરહદ પર દેશની ...
4  Ahmedabad crime news: મંદિરના ગેટ આગળ બહાર દાર...

In [96]:
data.isna().sum()

Heading    0
dtype: int64

In [97]:
data.duplicated().sum()

0

In [98]:
data.shape

(8457, 1)

In [100]:
data.rename(columns={
    'Heading': 'text'
}, inplace=True)

In [101]:
data['Language'] = 'Gujarati'

In [102]:
data.head()

                                                text  Language
0  ગેરરીતિ મામલે કાર્યવાહી:મોરબીમાં ઈમ્પેક્ટ ફી વ...  Gujarati
1  રજૂઆત:ભાગીને લગ્ન કરતી દીકરી માટે લગ્ન નોંધણીમ...  Gujarati
2  રજૂઆત:લખતરથી ખેરવા જતી માઇનોર કેનાલ બિસ્માર હા...  Gujarati
3  વડોદરામાં નર્સની ફરજ નિષ્ઠા:પતિ સરહદ પર દેશની ...  Gujarati
4  Ahmedabad crime news: મંદિરના ગેટ આગળ બહાર દાર...  Gujarati

In [103]:
data.to_csv('final/Gujarati.csv', index=None)

## Hindi

In [104]:
ls datasets/Hindi/

hindi_news_dataset.csv

In [105]:
data = pd.read_csv('datasets/Hindi/hindi_news_dataset.csv')

In [106]:
data.head()

,Headline,Content,News Categories,Date
0,कांग्रेस नेता बलजिंदर सिंह की पंजाब में घर के ...,कांग्रेस नेता बलजिंदर सिंह की सोमवार को पंजाब ...,['national'],19-09-2023
1,केंद्रीय मंत्री बोले- महिला आरक्षण लाने का साह...,केंद्रीय मंत्री प्रह्लाद पटेल ने लोकसभा और विध...,"['politics', 'national']",19-09-2023
2,ओपीएस लागू करने से अस्थिर हो सकती है राज्यों क...,आरबीआई के 5 अधिकारियों ने एक लेख में लिखा है क...,"['business', 'national']",19-09-2023
3,तमिलनाडु में शावरमा खाने से 14 वर्षीय छात्रा क...,नामक्कल (तमिलनाडु) में शावरमा खाने से सोमवार क...,['national'],19-09-2023
4,मणिपुर में मुख्यमंत्री के आश्वासन के बाद मारे ...,मणिपुर के मुख्यमंत्री एन बीरेन सिंह के आश्वासन...,['national'],19-09-2023

In [108]:
data['Headline'][99]

'भविष्य निर्माण के लिए प्रतिबद्ध मित्र: पीएम मोदी को जन्मदिन की बधाई देते हुए इटली की पीएम'

In [109]:
data = data[['Headline']]

In [110]:
data.head()

                                            Headline
0  कांग्रेस नेता बलजिंदर सिंह की पंजाब में घर के ...
1  केंद्रीय मंत्री बोले- महिला आरक्षण लाने का साह...
2  ओपीएस लागू करने से अस्थिर हो सकती है राज्यों क...
3  तमिलनाडु में शावरमा खाने से 14 वर्षीय छात्रा क...
4  मणिपुर में मुख्यमंत्री के आश्वासन के बाद मारे ...

In [111]:
data.isna().sum()

Headline    0
dtype: int64

In [112]:
data.duplicated().sum()

130043

In [113]:
data.shape

(152179, 1)

In [114]:
data.drop_duplicates(inplace=True)

In [115]:
data.shape

(22136, 1)

In [116]:
data.rename(columns={
    'Headline': 'text'
}, inplace=True)

In [117]:
data.head()

                                                text
0  कांग्रेस नेता बलजिंदर सिंह की पंजाब में घर के ...
1  केंद्रीय मंत्री बोले- महिला आरक्षण लाने का साह...
2  ओपीएस लागू करने से अस्थिर हो सकती है राज्यों क...
3  तमिलनाडु में शावरमा खाने से 14 वर्षीय छात्रा क...
4  मणिपुर में मुख्यमंत्री के आश्वासन के बाद मारे ...

In [118]:
data['Language'] = 'Hindi'

In [119]:
data.head()

                                                text Language
0  कांग्रेस नेता बलजिंदर सिंह की पंजाब में घर के ...    Hindi
1  केंद्रीय मंत्री बोले- महिला आरक्षण लाने का साह...    Hindi
2  ओपीएस लागू करने से अस्थिर हो सकती है राज्यों क...    Hindi
3  तमिलनाडु में शावरमा खाने से 14 वर्षीय छात्रा क...    Hindi
4  मणिपुर में मुख्यमंत्री के आश्वासन के बाद मारे ...    Hindi

In [121]:
data.to_csv('final/Hindi.csv', index=None)

## Kannada

In [122]:
ls datasets/Kannada/

train.csv  valid.csv

In [124]:
data = pd.read_csv('datasets/Kannada/train.csv')

In [125]:
data.head()

                                            headline          label
0  CWG18; ಕುಸ್ತಿಯಲ್ಲಿ ಚಿನ್ನಗಳಿಸಿದ ರಾಹುಲ್ ಅವಾರೆ, ಸ...         sports
1  ಏಷ್ಯಾ ಕಪ್ 2018: ಪಾಕ್ ವಿರುದ್ಧ ಘರ್ಜಿಸಲು ರೋಹಿತ್ ಸ...         sports
2    ಸಮಂತಾ ವಿಷಯದಲ್ಲಿ 'ಯೂ ಟರ್ನ್'​ ಹೊಡೆದ ನಾಗ ಚೈತನ್ಯ..!  entertainment
3  PHOTOS: ಐಶ್ ಬೇಬಿ ಸೌಂದರ್ಯದ ಗುಟ್ಟು ರಟ್ಟು: 40 ದಾಟ...  entertainment
4  ಟೀಂ ಇಂಡಿಯಾ ಆಯ್ಕೆ ಸಮಿತಿ ಸದಸ್ಯರ ಸಂಭಾವನೆ ಎಷ್ಟು ಗೊ...         sports

In [127]:
data['headline'][0]

'CWG18; ಕುಸ್ತಿಯಲ್ಲಿ ಚಿನ್ನಗಳಿಸಿದ ರಾಹುಲ್ ಅವಾರೆ, ಸುಶೀಲ್ ಕುಮಾರ್ \u200b'

In [128]:
data = data[['headline']]

In [129]:
data.head()

                                            headline
0  CWG18; ಕುಸ್ತಿಯಲ್ಲಿ ಚಿನ್ನಗಳಿಸಿದ ರಾಹುಲ್ ಅವಾರೆ, ಸ...
1  ಏಷ್ಯಾ ಕಪ್ 2018: ಪಾಕ್ ವಿರುದ್ಧ ಘರ್ಜಿಸಲು ರೋಹಿತ್ ಸ...
2    ಸಮಂತಾ ವಿಷಯದಲ್ಲಿ 'ಯೂ ಟರ್ನ್'​ ಹೊಡೆದ ನಾಗ ಚೈತನ್ಯ..!
3  PHOTOS: ಐಶ್ ಬೇಬಿ ಸೌಂದರ್ಯದ ಗುಟ್ಟು ರಟ್ಟು: 40 ದಾಟ...
4  ಟೀಂ ಇಂಡಿಯಾ ಆಯ್ಕೆ ಸಮಿತಿ ಸದಸ್ಯರ ಸಂಭಾವನೆ ಎಷ್ಟು ಗೊ...

In [131]:
data.rename(columns={
    'headline': 'text'
}, inplace=True)

In [132]:
data.head()

                                                text
0  CWG18; ಕುಸ್ತಿಯಲ್ಲಿ ಚಿನ್ನಗಳಿಸಿದ ರಾಹುಲ್ ಅವಾರೆ, ಸ...
1  ಏಷ್ಯಾ ಕಪ್ 2018: ಪಾಕ್ ವಿರುದ್ಧ ಘರ್ಜಿಸಲು ರೋಹಿತ್ ಸ...
2    ಸಮಂತಾ ವಿಷಯದಲ್ಲಿ 'ಯೂ ಟರ್ನ್'​ ಹೊಡೆದ ನಾಗ ಚೈತನ್ಯ..!
3  PHOTOS: ಐಶ್ ಬೇಬಿ ಸೌಂದರ್ಯದ ಗುಟ್ಟು ರಟ್ಟು: 40 ದಾಟ...
4  ಟೀಂ ಇಂಡಿಯಾ ಆಯ್ಕೆ ಸಮಿತಿ ಸದಸ್ಯರ ಸಂಭಾವನೆ ಎಷ್ಟು ಗೊ...

In [133]:
data.isna().sum()

text    0
dtype: int64

In [134]:
data.duplicated().sum()

53

In [135]:
data.drop_duplicates(inplace=True)

In [136]:
data.shape

(5114, 1)

In [137]:
data['language'] = 'Kannada'

In [138]:
data.head()

                                                text language
0  CWG18; ಕುಸ್ತಿಯಲ್ಲಿ ಚಿನ್ನಗಳಿಸಿದ ರಾಹುಲ್ ಅವಾರೆ, ಸ...  Kannada
1  ಏಷ್ಯಾ ಕಪ್ 2018: ಪಾಕ್ ವಿರುದ್ಧ ಘರ್ಜಿಸಲು ರೋಹಿತ್ ಸ...  Kannada
2    ಸಮಂತಾ ವಿಷಯದಲ್ಲಿ 'ಯೂ ಟರ್ನ್'​ ಹೊಡೆದ ನಾಗ ಚೈತನ್ಯ..!  Kannada
3  PHOTOS: ಐಶ್ ಬೇಬಿ ಸೌಂದರ್ಯದ ಗುಟ್ಟು ರಟ್ಟು: 40 ದಾಟ...  Kannada
4  ಟೀಂ ಇಂಡಿಯಾ ಆಯ್ಕೆ ಸಮಿತಿ ಸದಸ್ಯರ ಸಂಭಾವನೆ ಎಷ್ಟು ಗೊ...  Kannada

In [140]:
data.to_csv('final/Kannada.csv', index=None)

## Malayalam

In [144]:
ls datasets/Malayalam/

news_90k.csv

In [145]:
data = pd.read_csv('datasets/Malayalam/news_90k.csv')

In [146]:
data.head()

,headline,para
0,കനകദുർഗയും വിളയോടി ശിവൻകുട്ടിയും വിവാഹിതരായി,മലപ്പുറം∙യുവതികൾക്ക് പ്രവേശിക്കാമെന്ന സുപ്രീംക...
1,ശാരീരിക ബന്ധത്തിലേർപ്പെടുന്നതിനിടെ യുവാവ് മരിച...,നാഗ്പൂർ∙ ഹോട്ടൽ മുറിയിൽ കാമുകിക്കൊപ്പം ശാരീരിക...
2,ഗോവ മോഡലിൽ കശുമാങ്ങയിൽ നിന്നും ഫെനി ഉത്പാദിപ്പ...,കണ്ണൂർ ∙ സംസ്ഥാനത്ത് കശുമാങ്ങാനീരു വാറ്റിയുള്ള...
3,ഉമേഷിനെ കൊലയാളികൾ മുൻപും കാത്തിരുന്നു; തുടരെ ...,മുംബൈ∙ ജൂൺ 21നു മഹാരാഷ്ട്രയിലെ അമരാവതിയിൽ കൊല...
4,നൂപുർ ശർമയ്‌ക്കെതിരായ വിമർശനം: സുപ്രീം കോടതിക...,ന്യൂഡൽഹി ∙ ചാനൽ ചർച്ചയ്ക്കിടെ പ്രവാചകനെതിരെ നട...

In [148]:
data['headline'][99]

'ഷോപ്പിങ് മാളിൽ റഷ്യൻ മിസൈൽ: 13 മരണം'

In [149]:
data = data[['headline']]

In [150]:
data.head()

                                            headline
0       കനകദുർഗയും വിളയോടി ശിവൻകുട്ടിയും വിവാഹിതരായി
1  ശാരീരിക ബന്ധത്തിലേർപ്പെടുന്നതിനിടെ യുവാവ് മരിച...
2  ഗോവ മോഡലിൽ കശുമാങ്ങയിൽ നിന്നും ഫെനി ഉത്പാദിപ്പ...
3  ഉമേഷിനെ കൊലയാളികൾ മുൻപും കാത്തിരുന്നു; തുടരെ ...
4  നൂപുർ ശർമയ്‌ക്കെതിരായ വിമർശനം: സുപ്രീം കോടതിക...

In [151]:
data.isna().sum()

headline    0
dtype: int64

In [152]:
data.duplicated().sum()

0

In [153]:
data.shape

(89934, 1)

In [154]:
data['language'] = 'Malayalam'

In [155]:
data.head()

                                            headline   language
0       കനകദുർഗയും വിളയോടി ശിവൻകുട്ടിയും വിവാഹിതരായി  Malayalam
1  ശാരീരിക ബന്ധത്തിലേർപ്പെടുന്നതിനിടെ യുവാവ് മരിച...  Malayalam
2  ഗോവ മോഡലിൽ കശുമാങ്ങയിൽ നിന്നും ഫെനി ഉത്പാദിപ്പ...  Malayalam
3  ഉമേഷിനെ കൊലയാളികൾ മുൻപും കാത്തിരുന്നു; തുടരെ ...  Malayalam
4  നൂപുർ ശർമയ്‌ക്കെതിരായ വിമർശനം: സുപ്രീം കോടതിക...  Malayalam

In [157]:
data.to_csv('final/Malayalam.csv', index=None)

## Odiya

In [160]:
ls datasets/Odia/

train.csv  valid.csv

In [161]:
data = pd.read_csv('datasets/Odia/train.csv')

In [162]:
data.head()

                                            headings          label
0   ଅବସର ପାଇଁ ଚିନ୍ତା ନାହିଁ: ମାତ୍ର ୩୩% ଲୋକ କରୁଛନ୍ତ...       business
1   ‘ପଦ୍ମାବତ୍‌’ ରିଲିଜ୍‌ ଉପରେ କଟକଣା ଜାରି କଲା ହରିଆଣା…   entertainment
2   ହାମିଲଟନ୍‌ ଟେଷ୍ଟରେ େଓ୍ଵଷ୍ଟଇଣ୍ଡିଜ୍‌ ୨୪୦ ରନ୍‌ରେ ...         sports
3   ଏହି ବଲିଉଡ୍‌ ଅଭିନେତ୍ରୀଙ୍କ ନାଁରେ ରଖାଗଲା ଗଣ୍ଡାର ...  entertainment
4   ଗିଲ୍‌କ୍ରିଷ୍ଟ, ବାଉଚର ଓ ସାଙ୍ଗାକାରାଙ୍କ ପରେ ଚତୁର୍...         sports

In [164]:
data['headings'][99]

' ଅନିଲଙ୍କୁ\u200c ଜେଲ ଯିବାକୁ ଦେବନି ରିଲାଏନ୍ସ '

In [166]:
data = data[['headings']]

In [167]:
data.head()

                                            headings
0   ଅବସର ପାଇଁ ଚିନ୍ତା ନାହିଁ: ମାତ୍ର ୩୩% ଲୋକ କରୁଛନ୍ତ...
1   ‘ପଦ୍ମାବତ୍‌’ ରିଲିଜ୍‌ ଉପରେ କଟକଣା ଜାରି କଲା ହରିଆଣା…
2   ହାମିଲଟନ୍‌ ଟେଷ୍ଟରେ େଓ୍ଵଷ୍ଟଇଣ୍ଡିଜ୍‌ ୨୪୦ ରନ୍‌ରେ ...
3   ଏହି ବଲିଉଡ୍‌ ଅଭିନେତ୍ରୀଙ୍କ ନାଁରେ ରଖାଗଲା ଗଣ୍ଡାର ...
4   ଗିଲ୍‌କ୍ରିଷ୍ଟ, ବାଉଚର ଓ ସାଙ୍ଗାକାରାଙ୍କ ପରେ ଚତୁର୍...

In [168]:
data.rename(columns={
    'headings': 'text'
}, inplace=True)

/tmp/ipykernel_24282/1337912800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={

In [169]:
data['language'] = 'Odia'

In [170]:
data.head()

                                                text language
0   ଅବସର ପାଇଁ ଚିନ୍ତା ନାହିଁ: ମାତ୍ର ୩୩% ଲୋକ କରୁଛନ୍ତ...     Odia
1   ‘ପଦ୍ମାବତ୍‌’ ରିଲିଜ୍‌ ଉପରେ କଟକଣା ଜାରି କଲା ହରିଆଣା…      Odia
2   ହାମିଲଟନ୍‌ ଟେଷ୍ଟରେ େଓ୍ଵଷ୍ଟଇଣ୍ଡିଜ୍‌ ୨୪୦ ରନ୍‌ରେ ...     Odia
3   ଏହି ବଲିଉଡ୍‌ ଅଭିନେତ୍ରୀଙ୍କ ନାଁରେ ରଖାଗଲା ଗଣ୍ଡାର ...     Odia
4   ଗିଲ୍‌କ୍ରିଷ୍ଟ, ବାଉଚର ଓ ସାଙ୍ଗାକାରାଙ୍କ ପରେ ଚତୁର୍...     Odia

In [171]:
data.isna().sum()

text        0
language    0
dtype: int64

In [172]:
data.duplicated().sum()

8

In [173]:
data.shape

(15200, 2)

In [174]:
data.drop_duplicates(inplace=True)

In [178]:
data.shape

(15192, 2)

In [179]:
odia1 = data.copy()

In [181]:
odia1.head()

                                                text language
0   ଅବସର ପାଇଁ ଚିନ୍ତା ନାହିଁ: ମାତ୍ର ୩୩% ଲୋକ କରୁଛନ୍ତ...     Odia
1   ‘ପଦ୍ମାବତ୍‌’ ରିଲିଜ୍‌ ଉପରେ କଟକଣା ଜାରି କଲା ହରିଆଣା…      Odia
2   ହାମିଲଟନ୍‌ ଟେଷ୍ଟରେ େଓ୍ଵଷ୍ଟଇଣ୍ଡିଜ୍‌ ୨୪୦ ରନ୍‌ରେ ...     Odia
3   ଏହି ବଲିଉଡ୍‌ ଅଭିନେତ୍ରୀଙ୍କ ନାଁରେ ରଖାଗଲା ଗଣ୍ଡାର ...     Odia
4   ଗିଲ୍‌କ୍ରିଷ୍ଟ, ବାଉଚର ଓ ସାଙ୍ଗାକାରାଙ୍କ ପରେ ଚତୁର୍...     Odia

In [182]:
data = pd.read_csv('datasets/Odia/valid.csv')

In [183]:
data.head()

                                            headings     label
0          ପୂର୍ବାଞ୍ଚଳ ହ୍ୟାଣ୍ଡ୍‌ବଲ୍‌: ଓଡ଼ିଶାକୁ କାଂସ୍ୟ     sports
1   ବସ୍‌, ଟ୍ରେନ୍‌ ଗନ୍ତବ୍ୟ ସ୍ଥଳର ଆଗୁଆ ସୂଚନା ଦେବ ଗୁ...  business
2   ରିଭର୍ସ ଗିୟରରେ ଚାଲିବ ସ୍କୁଟର, ୨ ଘଂଟା ଚାର୍ଜ କଲେ ...  business
3                    ବେଲଜିୟମ ଓ କାନାଡା ଦଳରେ ପରିବର୍ତନ     sports
4      ରୋନାଲ୍‌ଡୋଙ୍କୁ ପଞ୍ଚମ ଥର ବାଲନ୍‌ ଡି’ଓର୍‌ ସମ୍ମାନ     sports

In [186]:
data['headings'][99]

' ଶାଶୁଙ୍କ ମୃତ୍ୟୁ ପରେ ଘର ସମ୍ଭାଳିବା ପାଇଁ ଚାକିରି ଛାଡ଼ି ଥିବା ବୋହୂ ହ୍ଵାଟସ୍\u200c ଆପ୍\u200c ଜରିଆରେ ଶାଢ଼ି ବ୍ୟବସାୟ କରି… '

In [187]:
data = data[['headings']]

In [188]:
data.head()

                                            headings
0          ପୂର୍ବାଞ୍ଚଳ ହ୍ୟାଣ୍ଡ୍‌ବଲ୍‌: ଓଡ଼ିଶାକୁ କାଂସ୍ୟ
1   ବସ୍‌, ଟ୍ରେନ୍‌ ଗନ୍ତବ୍ୟ ସ୍ଥଳର ଆଗୁଆ ସୂଚନା ଦେବ ଗୁ...
2   ରିଭର୍ସ ଗିୟରରେ ଚାଲିବ ସ୍କୁଟର, ୨ ଘଂଟା ଚାର୍ଜ କଲେ ...
3                    ବେଲଜିୟମ ଓ କାନାଡା ଦଳରେ ପରିବର୍ତନ
4      ରୋନାଲ୍‌ଡୋଙ୍କୁ ପଞ୍ଚମ ଥର ବାଲନ୍‌ ଡି’ଓର୍‌ ସମ୍ମାନ

In [189]:
data.shape

(3801, 1)

In [190]:
data.isna().sum()

headings    0
dtype: int64

In [191]:
data.duplicated().sum()

0

In [192]:
data['language'] = 'Odia'

In [196]:
data.head()

                                            headings language
0          ପୂର୍ବାଞ୍ଚଳ ହ୍ୟାଣ୍ଡ୍‌ବଲ୍‌: ଓଡ଼ିଶାକୁ କାଂସ୍ୟ      Odia
1   ବସ୍‌, ଟ୍ରେନ୍‌ ଗନ୍ତବ୍ୟ ସ୍ଥଳର ଆଗୁଆ ସୂଚନା ଦେବ ଗୁ...     Odia
2   ରିଭର୍ସ ଗିୟରରେ ଚାଲିବ ସ୍କୁଟର, ୨ ଘଂଟା ଚାର୍ଜ କଲେ ...     Odia
3                    ବେଲଜିୟମ ଓ କାନାଡା ଦଳରେ ପରିବର୍ତନ      Odia
4      ରୋନାଲ୍‌ଡୋଙ୍କୁ ପଞ୍ଚମ ଥର ବାଲନ୍‌ ଡି’ଓର୍‌ ସମ୍ମାନ      Odia

In [198]:
data.rename(columns={
    'headings': 'text'
}, inplace=True)

In [199]:
final = pd.concat([odia1, data])

In [200]:
final.head()

                                                text language
0   ଅବସର ପାଇଁ ଚିନ୍ତା ନାହିଁ: ମାତ୍ର ୩୩% ଲୋକ କରୁଛନ୍ତ...     Odia
1   ‘ପଦ୍ମାବତ୍‌’ ରିଲିଜ୍‌ ଉପରେ କଟକଣା ଜାରି କଲା ହରିଆଣା…      Odia
2   ହାମିଲଟନ୍‌ ଟେଷ୍ଟରେ େଓ୍ଵଷ୍ଟଇଣ୍ଡିଜ୍‌ ୨୪୦ ରନ୍‌ରେ ...     Odia
3   ଏହି ବଲିଉଡ୍‌ ଅଭିନେତ୍ରୀଙ୍କ ନାଁରେ ରଖାଗଲା ଗଣ୍ଡାର ...     Odia
4   ଗିଲ୍‌କ୍ରିଷ୍ଟ, ବାଉଚର ଓ ସାଙ୍ଗାକାରାଙ୍କ ପରେ ଚତୁର୍...     Odia

In [201]:
data.isna().sum()

text        0
language    0
dtype: int64

In [202]:
data.duplicated().sum()

0

In [203]:
data.to_csv('final/Odia.csv', index=None)

## Tamil

In [218]:
ls datasets/Tamil/

tamilmurasu_dataset.csv

In [219]:
data = pd.read_csv('datasets/Tamil/tamilmurasu_dataset.csv')

In [221]:
data.head()

,news_id,news_date,news_category,news_title,news_article
0,6,1/6/2011 2:45:49 PM,மர்மம்,தூக்கில் தொங்கும் சேவல்கள் திருடர்களை காவு வாங...,"நாலு ஆள் உயரம், முறுக்கு மீசை, கையில் வீச்சரிவ..."
1,9,1/6/2011 2:56:51 PM,மர்மம்,பவுர்ணமி ஜாமத்தில் மாயமான கர்ப்பிணி,அமானுஷ்யமான சம்பவங்கள் நம்மை சுற்றி ஆங்காங்கே ...
2,10,1/6/2011 3:02:00 PM,இந்தியா,காமன்வெல்த் ஊழல்: சுரேஷ் கல்மாடியிடம் 102 கேள்...,காமன்வெல்த் போட்டி ஏற்பாட்டில் நடைபெற்ற முறைகே...
3,11,1/6/2011 3:08:15 PM,மர்மம்,மச்சுபிச்சு மலை ரகசியம்,தென்அமெரிக்க நாடான பெருவில் காடுகள் மிகவும் பய...
4,12,1/6/2011 3:09:20 PM,மர்மம்,ரத்த பலி வாங்கும் விபரீத ஆவி!,கடந்த 18ம் தேதி சாயங்காலம்... அடைமழையை கிழித்த...

In [222]:
data['news_title'][0]

'தூக்கில் தொங்கும் சேவல்கள் திருடர்களை காவு வாங்கும் முனி'

In [223]:
data = data[['news_title']]

In [225]:
data.head()

                                          news_title
0  தூக்கில் தொங்கும் சேவல்கள் திருடர்களை காவு வாங...
1                பவுர்ணமி ஜாமத்தில் மாயமான கர்ப்பிணி
2  காமன்வெல்த் ஊழல்: சுரேஷ் கல்மாடியிடம் 102 கேள்...
3                            மச்சுபிச்சு மலை ரகசியம்
4                      ரத்த பலி வாங்கும் விபரீத ஆவி!

In [226]:
data.isna().sum()

news_title    0
dtype: int64

In [227]:
data.duplicated().sum()

2080

In [228]:
data.shape

(126746, 1)

In [229]:
data.drop_duplicates(inplace=True)

In [230]:
data.shape

(124666, 1)

In [231]:
data.rename(columns={
    'news_title': 'text'
}, inplace=True)

In [232]:
data.head()

                                                text
0  தூக்கில் தொங்கும் சேவல்கள் திருடர்களை காவு வாங...
1                பவுர்ணமி ஜாமத்தில் மாயமான கர்ப்பிணி
2  காமன்வெல்த் ஊழல்: சுரேஷ் கல்மாடியிடம் 102 கேள்...
3                            மச்சுபிச்சு மலை ரகசியம்
4                      ரத்த பலி வாங்கும் விபரீத ஆவி!

In [233]:
data['Language'] = 'Tamil'

In [234]:
data.head()

                                                text Language
0  தூக்கில் தொங்கும் சேவல்கள் திருடர்களை காவு வாங...    Tamil
1                பவுர்ணமி ஜாமத்தில் மாயமான கர்ப்பிணி    Tamil
2  காமன்வெல்த் ஊழல்: சுரேஷ் கல்மாடியிடம் 102 கேள்...    Tamil
3                            மச்சுபிச்சு மலை ரகசியம்    Tamil
4                      ரத்த பலி வாங்கும் விபரீத ஆவி!    Tamil

In [235]:
data.to_csv('final/Tamil.csv', index=None)

## Telugu

In [245]:
ls datasets/Telugu/

'telugu_news_dataset (1).parquet'

In [247]:
data = pd.read_parquet('datasets/Telugu/telugu_news_dataset (1).parquet')

In [248]:
data.head()

,title,text,category
0,పెళ్లి వార్తలను ఖండించిన కీర్తి సురేష్‌,\n \n\nచెన్నై : తనకు త్వరలో పెళ...,eenadu_cinema
1,ప్రభాస్‌ గురించి ఆ హీరోయిన్‌తో ఫ్యాన్స్‌ చర్చ,\n \n\nహైదరాబాద్‌: అభిమాన స్టార...,eenadu_cinema
2,250 మురికివాడ కుటుంబాలకు రకుల్‌ సాయం,\n లాక్‌డౌన్‌ ముగిసేంత వరకు ఫుడ...,eenadu_cinema
3,యువతలో మరో కోణాన్ని చూశా,\n \n\nయుద్ధం జరుగుతున్నప్పుడు ...,eenadu_cinema
4,మోదీ అభినందనలు,\n \n\nకరోనాపై పాటతో సందేశం ఇచ్...,eenadu_cinema

In [251]:
data['title'][99]

'సూపర్\u200c ‘శక్తి’'

In [252]:
data = data[['title']]

In [253]:
data.head()

                                           title
0        పెళ్లి వార్తలను ఖండించిన కీర్తి సురేష్‌
1  ప్రభాస్‌ గురించి ఆ హీరోయిన్‌తో ఫ్యాన్స్‌ చర్చ
2           250 మురికివాడ కుటుంబాలకు రకుల్‌ సాయం
3                       యువతలో మరో కోణాన్ని చూశా
4                                 మోదీ అభినందనలు

In [254]:
data.isna().sum()

title    0
dtype: int64

In [255]:
data.duplicated().sum()

919

In [256]:
data.shape

(20527, 1)

In [257]:
data.drop_duplicates(inplace=True)

In [258]:
data.shape

(19608, 1)

In [259]:
data.rename(columns={
    'title': 'text'
}, inplace=True)

In [260]:
data['language'] = 'Telugu'

In [261]:
data.head()

                                            text language
0        పెళ్లి వార్తలను ఖండించిన కీర్తి సురేష్‌   Telugu
1  ప్రభాస్‌ గురించి ఆ హీరోయిన్‌తో ఫ్యాన్స్‌ చర్చ   Telugu
2           250 మురికివాడ కుటుంబాలకు రకుల్‌ సాయం   Telugu
3                       యువతలో మరో కోణాన్ని చూశా   Telugu
4                                 మోదీ అభినందనలు   Telugu

In [262]:
data.to_csv('final/Telugu.csv', index=None)